html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,font,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,center,dl,dt,dd,ul,li,fieldset,form,label,legend,table,caption,tfoot,thead{background: transparent;border: 0;font-style: inherit;font-weight: inherit;margin: 0;padding: 0;outline: 0;vertical-align: baseline;} 
html {height: 100%;overflow-y: scroll;} 
body { line-height: 1.4; color: #555;  background:#363636;   font-family: Verdana, Helvetica, Arial,  sans-serif;font-size: 76%; }
table {border-collapse: collapse;border-spacing: 0; width: 100%;}
td { padding-left:1em; }
a, a:link {color:#F3A626;}
a:visited {color:#F3A626;text-decoration: none;}
a:hover,a:focus {color:#F79426;text-decoration: none;}
a:focus,:focus {outline: none; border:none;}
a:hover,a:active {outline: none;}
a:hover { text-decoration: underline; color: #F3A626; background:none;}
a, a:active,a:visited {color:#F3A626; text-decoration: none;}
a:hover {color:#F79426;} 
h1, h2, h3, h4, h5, h6 {  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; vertical-align:center; }
h1 {font-size: 1.6em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.4em;}
h4 {font-size: 1.2em;}
h5 {font-size: 1.1em;}
h6 {font-size: 1em;}
h1, h2, h3 {font-weight: 600;}
ul,ol li,ul ol li, ul li {list-style-type: none;list-style-position:inside; color:white;}
ol.numbered li {list-style-type:decimal;list-style-position:outside;}
table thead tr th {height:25px; color:white; background: #252525 ; background:rgba(0,0,0,0.4);border-bottom:1px solid #222;}
tr.row1:hover td, tr.row0:hover td, li.row0:hover, li.row1:hover{background: #1b1b1b;background: rgba(0,0,0,0.4);border-radius:2px; }
tr.row0, tr.row1 {border-bottom: 1px solid #1E1E1E;}
#left img, #right img {border-radius:2px;border:1px solid #777!important;}
.moduletable ul li:before { /*content: "\00BB \0020";*/}
.img-intro-right { float:right;}
.tall {line-height:2;}
hr { visibility: hidden; margin-top:20px;}
p, pre, dt, li, hr, legend, input, button, textarea, select, address, table {margin-top: 0.2em; }
input, button, textarea, select, optgroup, option { font-size: 1em;	line-height: 1.4 !important; background:#fff; color:#252525; padding:4px; border-radius:4px; border:1px solid #ccc; }
button,input    {line-height:100%;padding-top: 5px;border-radius:4px;-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);}
sup {vertical-align: +20%;}
.darker {background:rgba(0,0,0,0.3); border-radius:4px;}
.background, .ui-dialog {background:#000 url(../images/jkw_back.png);}
#main {position: absolute;width: 100%;  } 
.article-info {font-size:x-small; color:#777;}
.logo { position:absolute; color:#fff; }
blockquote {  border:3px solid #ccc; margin:5px; padding:5px; font-size:18px; font-family:Arial, Helvetica, sans-serif; font-style:italic}
strong {color:#fff;}
small {color:#999;}
.left {float:left;}
.right {float:right;}
.center {float:left;display:block;margin:0 auto;}
.clr {clear: both;}
.text-center {text-align:center;}
.text-left {text-align:left;}
.text-right {text-align:right;}
.spinner {background:rgba(255,255,255,0.9); padding:2px; border-radius:2px; }
.shadowed_title  {   margin-right:2%;  background-image: none;    color: #dedede;    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;    font-weight: 900; letter-spacing: 3px;    text-align: right;    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.602);}
.ui-helper-hidden-accessible{clip:rect(1px,1px,1px,1px);position:absolute!important;}
.ui-helper-reset{border:0;font-size:100%;line-height:1.3;list-style:none;margin:0;outline:0;padding:0;text-decoration:none;}
.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;}
.ui-helper-clearfix:after{clear:both;}
.ui-helper-clearfix{zoom:1;}
.ui-helper-zfix{filter:Alpha(Opacity=0);height:100%;left:0;opacity:0;position:absolute;top:0;width:100%;}
.ui-state-disabled{cursor:default!important;}
.ui-icon{display:block;height:16px;overflow:hidden;text-indent:-99999px;width:16px;}
.ui-widget-overlay{background:#666;background: rgba(33,33,33,0.9) ;height:100%;left:0;opacity:.70;position:absolute;top:0;width:100%;}
.ui-widget-header{border-bottom:1px solid #F79426;color:#777;font-weight:700; }
.ui-tabs .ui-widget-header {border-radius:0;}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{ font-weight:700;border:1px solid #777; background:rgba(255,255,255,0.3);}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{font-weight:700;border:1px solid #999;background:#F79426; background: rgba(0,0,0, 0.306);color:#fff;-moz-transition: color 0.3s ease 0s, background 0.3s ease 0s; -webkit-transition: 0.3s ease 0s; -o-transition: 0.3s ease 0s;}
.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{background:#F79426;background: rgba(247, 148, 38, 0.804);border:1px solid #F79426;color:#fff;font-weight:700;}
.ui-widget :active{outline:none;}
.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #e5e5e5;color:#363636;}
.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#363636;}
.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #cd0a0a;color:#fff;}
.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:700;}
.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{filter:Alpha(Opacity=70);font-weight:400;opacity:.7;}
.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{background-image:none;filter:Alpha(Opacity=35);opacity:.35;}
.ui-widget-content .ui-icon{background-image:url(../images/ui-icons_222222_256x240.png);}
.ui-widget-header .ui-icon{background-image:url(../images/ui-icons_ffffff_256x240.png);}
.ui-state-highlight .ui-icon{background-image:url(../images/ui-icons_228ef1_256x240.png);}
.ui-state-error .ui-icon,.ui-state-error-text .ui-icon,.ui-icon{background-image:url(../images/ui-icons_ffd27a_256x240.png);}
.ui-icon-carat-1-n{background-position:0 0;}
.ui-icon-carat-1-ne{background-position:-16px 0;}
.ui-icon-carat-1-e{background-position:-32px 0;}
.ui-icon-carat-1-se{background-position:-48px 0;}
.ui-icon-carat-1-s{background-position:-64px 0;}
.ui-icon-carat-1-sw{background-position:-80px 0;}
.ui-icon-carat-1-w{background-position:-96px 0;}
.ui-icon-carat-1-nw{background-position:-112px 0;}
.ui-icon-carat-2-n-s{background-position:-128px 0;}
.ui-icon-carat-2-e-w{background-position:-144px 0;}
.ui-icon-triangle-1-n{background-position:0 -16px;}
.ui-icon-triangle-1-ne{background-position:-16px -16px;}
.ui-icon-triangle-1-e{background-position:-32px -16px;}
.ui-icon-triangle-1-se{background-position:-48px -16px;}
.ui-icon-triangle-1-s{background-position:-64px -16px;}
.ui-icon-triangle-1-sw{background-position:-80px -16px;}
.ui-icon-triangle-1-w{background-position:-96px -16px;}
.ui-icon-triangle-1-nw{background-position:-112px -16px;}
.ui-icon-triangle-2-n-s{background-position:-128px -16px;}
.ui-icon-triangle-2-e-w{background-position:-144px -16px;}
.ui-icon-arrow-1-n{background-position:0 -32px;}
.ui-icon-arrow-1-ne{background-position:-16px -32px;}
.ui-icon-arrow-1-e{background-position:-32px -32px;}
.ui-icon-arrow-1-se{background-position:-48px -32px;}
.ui-icon-arrow-1-s{background-position:-64px -32px;}
.ui-icon-arrow-1-sw{background-position:-80px -32px;}
.ui-icon-arrow-1-w{background-position:-96px -32px;}
.ui-icon-arrow-1-nw{background-position:-112px -32px;}
.ui-icon-arrow-2-n-s{background-position:-128px -32px;}
.ui-icon-arrow-2-ne-sw{background-position:-144px -32px;}
.ui-icon-arrow-2-e-w{background-position:-160px -32px;}
.ui-icon-arrow-2-se-nw{background-position:-176px -32px;}
.ui-icon-arrowstop-1-n{background-position:-192px -32px;}
.ui-icon-arrowstop-1-e{background-position:-208px -32px;}
.ui-icon-arrowstop-1-s{background-position:-224px -32px;}
.ui-icon-arrowstop-1-w{background-position:-240px -32px;}
.ui-icon-arrowthick-1-n{background-position:0 -48px;}
.ui-icon-arrowthick-1-ne{background-position:-16px -48px;}
.ui-icon-arrowthick-1-e{background-position:-32px -48px;}
.ui-icon-arrowthick-1-se{background-position:-48px -48px;}
.ui-icon-arrowthick-1-s{background-position:-64px -48px;}
.ui-icon-arrowthick-1-sw{background-position:-80px -48px;}
.ui-icon-arrowthick-1-w{background-position:-96px -48px;}
.ui-icon-arrowthick-1-nw{background-position:-112px -48px;}
.ui-icon-arrowthick-2-n-s{background-position:-128px -48px;}
.ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px;}
.ui-icon-arrowthick-2-e-w{background-position:-160px -48px;}
.ui-icon-arrowthick-2-se-nw{background-position:-176px -48px;}
.ui-icon-arrowthickstop-1-n{background-position:-192px -48px;}
.ui-icon-arrowthickstop-1-e{background-position:-208px -48px;}
.ui-icon-arrowthickstop-1-s{background-position:-224px -48px;}
.ui-icon-arrowthickstop-1-w{background-position:-240px -48px;}
.ui-icon-arrowreturnthick-1-w{background-position:0 -64px;}
.ui-icon-arrowreturnthick-1-n{background-position:-16px -64px;}
.ui-icon-arrowreturnthick-1-e{background-position:-32px -64px;}
.ui-icon-arrowreturnthick-1-s{background-position:-48px -64px;}
.ui-icon-arrowreturn-1-w{background-position:-64px -64px;}
.ui-icon-arrowreturn-1-n{background-position:-80px -64px;}
.ui-icon-arrowreturn-1-e{background-position:-96px -64px;}
.ui-icon-arrowreturn-1-s{background-position:-112px -64px;}
.ui-icon-arrowrefresh-1-w{background-position:-128px -64px;}
.ui-icon-arrowrefresh-1-n{background-position:-144px -64px;}
.ui-icon-arrowrefresh-1-e{background-position:-160px -64px;}
.ui-icon-arrowrefresh-1-s{background-position:-176px -64px;}
.ui-icon-arrow-4{background-position:0 -80px;}
.ui-icon-arrow-4-diag{background-position:-16px -80px;}
.ui-icon-extlink{background-position:-32px -80px;}
.ui-icon-newwin{background-position:-48px -80px;}
.ui-icon-refresh{background-position:-64px -80px;}
.ui-icon-shuffle{background-position:-80px -80px;}
.ui-icon-transfer-e-w{background-position:-96px -80px;}
.ui-icon-transferthick-e-w{background-position:-112px -80px;}
.ui-icon-folder-collapsed{background-position:0 -96px;}
.ui-icon-folder-open{background-position:-16px -96px;}
.ui-icon-document{background-position:-32px -96px;}
.ui-icon-document-b{background-position:-48px -96px;}
.ui-icon-note{background-position:-64px -96px;}
.ui-icon-mail-closed{background-position:-80px -96px;}
.ui-icon-mail-open{background-position:-96px -96px;}
.ui-icon-suitcase{background-position:-112px -96px;}
.ui-icon-comment{background-position:-128px -96px;}
.ui-icon-person{background-position:-144px -96px;}
.ui-icon-print{background-position:-160px -96px;}
.ui-icon-trash{background-position:-176px -96px;}
.ui-icon-locked{background-position:-192px -96px;}
.ui-icon-unlocked{background-position:-208px -96px;}
.ui-icon-bookmark{background-position:-224px -96px;}
.ui-icon-tag{background-position:-240px -96px;}
.ui-icon-home{background-position:0 -112px;}
.ui-icon-flag{background-position:-16px -112px;}
.ui-icon-calendar{background-position:-32px -112px;}
.ui-icon-cart{background-position:-48px -112px;}
.ui-icon-pencil{background-position:-64px -112px;}
.ui-icon-clock{background-position:-80px -112px;}
.ui-icon-disk{background-position:-96px -112px;}
.ui-icon-calculator{background-position:-112px -112px;}
.ui-icon-zoomin{background-position:-128px -112px;}
.ui-icon-zoomout{background-position:-144px -112px;}
.ui-icon-search{background-position:-160px -112px;}
.ui-icon-wrench{background-position:-176px -112px;}
.ui-icon-gear{background-position:-192px -112px;}
.ui-icon-heart{background-position:-208px -112px;}
.ui-icon-star{background-position:-224px -112px;}
.ui-icon-link{background-position:-240px -112px;}
.ui-icon-cancel{background-position:0 -128px;}
.ui-icon-plus{background-position:-16px -128px;}
.ui-icon-plusthick{background-position:-32px -128px;}
.ui-icon-minus{background-position:-48px -128px;}
.ui-icon-minusthick{background-position:-64px -128px;}
.ui-icon-close{background-position:-80px -128px;}
.ui-icon-closethick{background-position:-96px -128px;}
.ui-icon-key{background-position:-112px -128px;}
.ui-icon-lightbulb{background-position:-128px -128px;}
.ui-icon-scissors{background-position:-144px -128px;}
.ui-icon-clipboard{background-position:-160px -128px;}
.ui-icon-copy{background-position:-176px -128px;}
.ui-icon-contact{background-position:-192px -128px;}
.ui-icon-image{background-position:-208px -128px;}
.ui-icon-video{background-position:-224px -128px;}
.ui-icon-script{background-position:-240px -128px;}
.ui-icon-alert{background-position:0 -144px;}
.ui-icon-info{background-position:-16px -144px;}
.ui-icon-notice{background-position:-32px -144px;}
.ui-icon-help{background-position:-48px -144px;}
.ui-icon-check{background-position:-64px -144px;}
.ui-icon-bullet{background-position:-80px -144px;}
.ui-icon-radio-off{background-position:-96px -144px;}
.ui-icon-radio-on{background-position:-112px -144px;}
.ui-icon-pin-w{background-position:-128px -144px;}
.ui-icon-pin-s{background-position:-144px -144px;}
.ui-icon-play{background-position:0 -160px;}
.ui-icon-pause{background-position:-16px -160px;}
.ui-icon-seek-next{background-position:-32px -160px;}
.ui-icon-seek-prev{background-position:-48px -160px;}
.ui-icon-seek-end{background-position:-64px -160px;}
.ui-icon-stop{background-position:-96px -160px;}
.ui-icon-eject{background-position:-112px -160px;}
.ui-icon-volume-off{background-position:-128px -160px;}
.ui-icon-volume-on{background-position:-144px -160px;}
.ui-icon-power{background-position:0 -176px;}
.ui-icon-signal-diag{background-position:-16px -176px;}
.ui-icon-signal{background-position:-32px -176px;}
.ui-icon-battery-0{background-position:-48px -176px;}
.ui-icon-battery-1{background-position:-64px -176px;}
.ui-icon-battery-2{background-position:-80px -176px;}
.ui-icon-battery-3{background-position:-96px -176px;}
.ui-icon-circle-plus{background-position:0 -192px;}
.ui-icon-circle-minus{background-position:-16px -192px;}
.ui-icon-circle-close{background-position:-32px -192px;}
.ui-icon-circle-triangle-e{background-position:-48px -192px;}
.ui-icon-circle-triangle-s{background-position:-64px -192px;}
.ui-icon-circle-triangle-w{background-position:-80px -192px;}
.ui-icon-circle-triangle-n{background-position:-96px -192px;}
.ui-icon-circle-arrow-e{background-position:-112px -192px;}
.ui-icon-circle-arrow-s{background-position:-128px -192px;}
.ui-icon-circle-arrow-w{background-position:-144px -192px;}
.ui-icon-circle-arrow-n{background-position:-160px -192px;}
.ui-icon-circle-zoomin{background-position:-176px -192px;}
.ui-icon-circle-zoomout{background-position:-192px -192px;}
.ui-icon-circle-check{background-position:-208px -192px;}
.ui-icon-circlesmall-plus{background-position:0 -208px;}
.ui-icon-circlesmall-minus{background-position:-16px -208px;}
.ui-icon-circlesmall-close{background-position:-32px -208px;}
.ui-icon-squaresmall-plus{background-position:-48px -208px;}
.ui-icon-squaresmall-minus{background-position:-64px -208px;}
.ui-icon-squaresmall-close{background-position:-80px -208px;}
.ui-icon-grip-dotted-vertical{background-position:0 -224px;}
.ui-icon-grip-dotted-horizontal{background-position:-16px -224px;}
.ui-icon-grip-solid-vertical{background-position:-32px -224px;}
.ui-icon-grip-solid-horizontal{background-position:-48px -224px;}
.ui-icon-gripsmall-diagonal-se{background-position:-64px -224px;}
.ui-icon-grip-diagonal-se{background-position:-80px -224px;}
.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{-khtml-border-top-left-radius:4px;-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;border-top-left-radius:4px;}
.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr{-khtml-border-top-right-radius:4px;-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;border-top-right-radius:4px;}
.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl{-khtml-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;}
.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{-khtml-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px;}
.ui-widget-shadow{-khtml-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;background:#000 url(../images/ui-bg_flat_10_000000_40x100.png) 50% 50% repeat-x;border-radius:5px;filter:Alpha(Opacity=20);margin:-5px 0 0 -5px;opacity:.20;padding:5px;}
.ui-resizable{position:relative;}
.ui-resizable-handle{display:block;font-size:.1px;position:absolute;}
.ui-resizable-n{cursor:n-resize;height:7px;left:0;top:-5px;width:100%;}
.ui-resizable-s{bottom:-5px;cursor:s-resize;height:7px;left:0;width:100%;}
.ui-resizable-e{cursor:e-resize;height:100%;right:-5px;top:0;width:7px;}
.ui-resizable-w{cursor:w-resize;height:100%;left:-5px;top:0;width:7px;}
.ui-resizable-se{bottom:1px;cursor:se-resize;height:12px;right:1px;width:12px;}
.ui-resizable-sw{bottom:-5px;cursor:sw-resize;height:9px;left:-5px;width:9px;}
.ui-resizable-nw{cursor:nw-resize;height:9px;left:-5px;top:-5px;width:9px;}
.ui-resizable-ne{cursor:ne-resize;height:9px;right:-5px;top:-5px;width:9px;}
.ui-selectable-helper{border:1px dotted #000;position:absolute;z-index:100;}
.ui-accordion{width:100%;}
.ui-accordion .ui-accordion-header{cursor:pointer;margin-top:1px;position:relative;zoom:1; background:none; border:none;}
.ui-accordion .ui-accordion-li-fix{display:inline;}
.ui-accordion .ui-accordion-header-active{border-bottom:0!important;}
.ui-accordion .ui-accordion-header a{display:block;font-size:1em;padding:.5em .5em .5em .7em;}
.ui-accordion-icons .ui-accordion-header a{padding-left:2.2em; background:none;}
.ui-accordion .ui-accordion-header .ui-icon{left:.5em;margin-top:-8px;position:absolute;top:50%;}
.ui-accordion .ui-accordion-content{border-top:0;display:none;margin-bottom:2px;margin-top:-2px;overflow:auto;padding:1em 2.2em;position:relative;top:1px;zoom:1;}
.ui-accordion .ui-accordion-content-active {display:block;}
.ui-autocomplete{border:1px solid #ccc;cursor:default;position:absolute;background:#fff;box-shadow:4px 4px 8px  rgba(0,0,0,0.3);}
.ui-autocomplete a {color:black; font-weight:normal;}
.ui-autocomplete .ui-state-active,.ui-autocomplete .ui-state-hover  {background:rgba(12,12,12,0.2); font-weight:600; color:#333;}
* html .ui-autocomplete{width:1px;}
.ui-menu{display:block;float:left;list-style:none;margin:0;padding:2px;}
.ui-menu .ui-menu{margin-top:-3px;}
.ui-menu .ui-menu-item{clear:left;float:left;margin:0;padding:0;width:100%;zoom:1;}
.ui-menu .ui-menu-item a{display:block;line-height:1.5;padding:.2em .4em;text-decoration:none;zoom:1;}
.ui-menu .ui-menu-item a.ui-state-hover,.ui-menu .ui-menu-item a.ui-state-active{font-weight:400;margin:-1px;}
.ui-button{cursor:pointer;display:inline-block;margin-right:.1em;overflow:visible;padding:0;position:relative;text-align:center;text-decoration:none!important;zoom:1;}
.ui-button-icon-only{width:2.2em;}
button.ui-button-icon-only{width:2.4em;}
.ui-button-icons-only{width:3.4em;}
button.ui-button-icons-only{width:3.7em;}
.ui-button .ui-button-text{display:block;line-height:1.4;}
.ui-button-icon-only .ui-button-text,.ui-button-icons-only .ui-button-text{padding:.4em;text-indent:-9999999px;}
.ui-button-text-icon-primary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 1em .4em 2.1em;}
.ui-button-text-icon-secondary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 2.1em .4em 1em;}
.ui-button-text-icons .ui-button-text{padding-left:2.1em;padding-right:2.1em;}
.ui-button-icon-only .ui-icon,.ui-button-text-icon-primary .ui-icon,.ui-button-text-icon-secondary .ui-icon,.ui-button-text-icons .ui-icon,.ui-button-icons-only .ui-icon{margin-top:-8px;position:absolute;top:50%;}
.ui-button-icon-only .ui-icon{left:50%;margin-left:-8px;}
.ui-button-text-icon-primary .ui-button-icon-primary,.ui-button-text-icons .ui-button-icon-primary,.ui-button-icons-only .ui-button-icon-primary{left:.5em;}
.ui-buttonset{margin-right:7px;}
.ui-buttonset .ui-button{margin-left:0;margin-right:-.3em;}
button.ui-button::-moz-focus-inner{border:0;padding:0;}
.ui-dialog{overflow:hidden;padding:.2em;position:absolute;width:300px;}
.ui-dialog .ui-dialog-titlebar{padding:.4em 1em;position:relative;}
.ui-dialog .ui-dialog-title{float:left;margin:.1em 16px .1em 0;}
.ui-dialog .ui-dialog-titlebar-close{height:18px;margin:-10px 0 0;padding:1px;position:absolute;right:.3em;top:50%;width:19px;}
.ui-dialog .ui-dialog-titlebar-close span{display:block;margin:1px;}
.ui-dialog .ui-dialog-titlebar-close:hover,.ui-dialog .ui-dialog-titlebar-close:focus{padding:0;}
.ui-dialog .ui-dialog-content{background:none;border:0;overflow:auto;padding:.5em 1em;position:relative;zoom:1;}
.ui-dialog .ui-dialog-buttonpane{background-image:none;border-width:1px 0 0;margin:.5em 0 0;padding:.3em 1em .5em .4em;text-align:left;}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:right;}
.ui-dialog .ui-dialog-buttonpane button{cursor:pointer;margin:.5em .4em .5em 0;}
.ui-dialog .ui-resizable-se{bottom:3px;height:14px;right:3px;width:14px;}
.ui-draggable .ui-dialog-titlebar{cursor:move;}
.ui-slider{position:relative;text-align:left;}
.ui-slider .ui-slider-handle{cursor:default;height:1.2em;position:absolute;width:1.2em;z-index:2;}
.ui-slider .ui-slider-range{background-position:0 0;border:0;display:block;font-size:.7em;position:absolute;z-index:1;}
.ui-slider-horizontal{height:.8em;}
.ui-slider-horizontal .ui-slider-handle{margin-left:-.6em;top:-.3em;}
.ui-slider-horizontal .ui-slider-range{height:100%;top:0;}
.ui-slider-horizontal .ui-slider-range-min{left:0;}
.ui-slider-horizontal .ui-slider-range-max{right:0;}
.ui-slider-vertical{height:100px;width:.8em;}
.ui-slider-vertical .ui-slider-handle{left:-.3em;margin-bottom:-.6em;margin-left:0;}
.ui-slider-vertical .ui-slider-range{left:0;width:100%;}
.ui-slider-vertical .ui-slider-range-min{bottom:0;}
.ui-slider-vertical .ui-slider-range-max{top:0;}
.ui-tabs{padding:.2em;position:relative;zoom:1;}
.ui-tabs .ui-tabs-nav{margin:0;padding:.2em .2em 0;}
.ui-tabs .ui-tabs-nav li{border-bottom:0!important;float:left;list-style:none;margin:0 .2em 1px 0;padding:0;position:relative;top:1px;white-space:nowrap;}
.ui-tabs .ui-tabs-nav li a{float:left;padding:.6em 1.2em;text-decoration:none;color:#e5e5e5;}
.ui-tabs .ui-tabs-nav li a:hover{color:#fff;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected{margin-bottom:0;padding-bottom:1px;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,.ui-tabs .ui-tabs-nav li.ui-state-disabled a,.ui-tabs .ui-tabs-nav li.ui-state-processing a{cursor:text; color:#fff;}
.ui-tabs .ui-tabs-nav li a,.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a{cursor:pointer;}
.ui-tabs .ui-tabs-panel{padding:0;border:1px solid #F79426;border-top:0;box-shadow:2px 2px 4px rgba(0,0,0,0.1);display:block;}
.ui-tabs .ui-tabs-hide{display:none!important;}
img.tt:hover {cursor: help;}
#aToolTip{display:none;position:absolute;z-index:50000;}
#aToolTip .aToolTipContent{margin:0;padding:0;position:relative;}
#aToolTipCloseBtn { display:block;height:18px;width:18px;background:url('/plugins/system/jcemediabox/themes/squeeze/img/close.png') no-repeat;text-indent:-9999px; outline:none;  position:absolute;  top:-20px;   right:-30px; margin:2px; padding:4px; }
.defaultTheme{-khtml-border-radius:8px 8px 8px 0;-moz-border-radius:8px 8px 8px 0;-moz-box-shadow:4px 4px 3px rgba(0,0,0,0.3);-webkit-border-radius:8px 8px 8px 0;-webkit-box-shadow:2px 2px 5px #111;background:#252525;background:rgba(25,25,25,0.8); border:1px solid #2e2e2e;border-radius:8px 8px 8px 0;box-shadow:4px 4px 3px  rgba(0,0,0,0.5);color:#efefef; margin:0;padding:6px 12px;max-width:400px;}
.ui-helper-hidden,.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle{display:none;}
.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a,.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text{color:#fff;}
.ui-state-default .ui-icon,.ui-state-hover .ui-icon,.ui-state-focus .ui-icon,.ui-state-active .ui-icon{background-image:url(../images/ui-icons_ef8c08_256x240.png);}
.ui-icon-seek-start,.ui-icon-seek-first{background-position:-80px -160px;}
.ui-button-text-only .ui-button-text,input.ui-button{padding:.4em 1em;}
.ui-button-text-icon-secondary .ui-button-icon-secondary,.ui-button-text-icons .ui-button-icon-secondary,.ui-button-icons-only .ui-button-icon-secondary,.ui-button-text-icons .ui-button-icon-secondary,.ui-button-icons-only .ui-button-icon-secondary{right:.5em;}
/* Selectmenu
----------------------------------*/
.ui-selectmenu { display: block; position:relative; height:2em; text-decoration: none; overflow:hidden; }
.ui-selectmenu  .ui-state-hover {border:none;}
.ui-selectmenu-icon { position:absolute; right:6px; margin-top:-8px; top: 50%; }
.ui-selectmenu-menu { padding:0; margin:0; list-style:none; position:absolute; top: 0; visibility: hidden; overflow: auto;background:#555; background:rgba(55,55,55,0.96); color:white; }
.ui-selectmenu-open { visibility: visible; }
.ui-selectmenu-menu-popup { margin-top: -1px; }
.ui-selectmenu-menu-dropdown { }
.ui-selectmenu-menu li { padding:0; margin:0; display: block; border-top: 1px dotted transparent; border-bottom: 1px dotted transparent; border-right-width: 0 !important; border-left-width: 0 !important; font-weight: normal !important; }
.ui-selectmenu-menu li a,.ui-selectmenu-status {line-height: 1.4em; display:block; padding:.3em 1em; outline:none; text-decoration:none;color:#e6e6e6;border-bottom:1px solid #777;}
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status { padding-left: 20px; position: relative; margin-left: 5px;  }
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a:hover {border-radius:6px;border:none;}
a.ui-selectmenu-menu {background:#fefefe; background:rgba(255,255,255,0.9);}
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0; }
.ui-selectmenu-status { line-height: 1.4em; }
.ui-selectmenu-open li.ui-selectmenu-item-focus a {  color:orange;}
.ui-selectmenu-open li.ui-selectmenu-item-selected { }
.ui-selectmenu-menu li span,.ui-selectmenu-status span { display:block; margin-bottom: .2em; }
.ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: bold; }
.ui-selectmenu-menu li .ui-selectmenu-item-content {  }
.ui-selectmenu-menu li .ui-selectmenu-item-footer { opacity: .8; }
/*for optgroups*/
.ui-selectmenu-menu .ui-selectmenu-group { font-size: 1em; }
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label { line-height: 1.4em; display:block; padding:.6em .5em 0; font-weight: bold; color:#e6e6e6;background:#343434; background:rgba(22,22,22,0.9);}
.ui-selectmenu-menu .ui-selectmenu-group ul { margin: 0; padding: 0; }

#ui-datepicker-div {background:#333;box-shadow:2px 2px 6px rgba(0,0,0,0.5);border:1px solid #777;}
.ui-datepicker {    width: 17em;    padding: .2em .2em 0;    display: none;}
.ui-datepicker .ui-datepicker-header {    position: relative;    padding: .2em 0;}
.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next {    position: absolute;    top: 2px;    width: 1.8em;    height: 1.8em;}
.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover {    top: 1px;}
.ui-datepicker .ui-datepicker-prev {    left: 2px;}
.ui-datepicker .ui-datepicker-next {    right: 2px;}
.ui-datepicker .ui-datepicker-prev-hover {    left: 1px;}
.ui-datepicker .ui-datepicker-next-hover {    right: 1px;}
.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span {    display: block;    position: absolute;    left: 50%;    margin-left: -8px;top: 50%;margin-top: -8px;}
.ui-datepicker .ui-datepicker-title {margin: 0 2.3em;line-height: 1.8em;text-align: center;}
.ui-datepicker .ui-datepicker-title select {    font-size: 1em;    margin: 1px 0;}
.ui-datepicker select.ui-datepicker-month-year {    width: 100%;}
.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year {width: 49%;}
.ui-datepicker table {width: 100%;font-size: .9em;border-collapse: collapse;margin: 0 0 .4em;}
.ui-datepicker th {padding: .7em .3em;text-align: center;font-weight: bold;border: 0;}
.ui-datepicker td {border: 0;padding: 1px;}
.ui-datepicker td span,.ui-datepicker td a {display: block;padding: .2em;text-align: right;text-decoration: none;}
.ui-datepicker .ui-datepicker-buttonpane {background-image: none;margin: .7em 0 0 0;padding: 0 .2em;border-left: 0;border-right: 0;border-bottom: 0;}
.ui-datepicker .ui-datepicker-buttonpane button {float: right;margin: .5em .2em .4em;cursor: pointer;padding: .2em .6em .3em .6em;width: auto;overflow: visible;}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {float: left;}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {width: auto;}
.ui-datepicker-multi .ui-datepicker-group {float: left;}
.ui-datepicker-multi .ui-datepicker-group table {width: 95%;margin: 0 auto .4em;}
.ui-datepicker-multi-2 .ui-datepicker-group {width: 50%;}
.ui-datepicker-multi-3 .ui-datepicker-group {width: 33.3%;}
.ui-datepicker-multi-4 .ui-datepicker-group {width: 25%;}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {border-left-width: 0;}
.ui-datepicker-multi .ui-datepicker-buttonpane {clear: left;}
.ui-datepicker-row-break {clear: both;width: 100%;font-size: 0;}
/**
 * Facebook Slide FanBox
 * @license    GNU/GPL http://www.gnu.org/copyleft/gpl.html
 * @link       http://facebooklikebox.net
 */
#likebox_1 {-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;border:5px solid gray;background-color: #fff;position: fixed;z-index:10000;}
#likebox_1_1 {overflow: hidden;text-align: right;}
#likebox_1 img {position: absolute; top: 0px; cursor: pointer;border: 0;}
#likebox_1 iframe {border:0px;overflow: hidden; position: absolute;width:100%;height: 100%;}

/*jevents calendat*/
a.extcal_busylink,a.extcal_busylink:hover {background:#777; border-radius:2px;}
a.extcal_daylink, a.extcal_daylink:hover {color:white;}
.mod_events_link {border:none;cursor:pointer;}
 
 .downshadow {
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e0000000',GradientType=0 );
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzIzMjMiIHN0b3Atb3BhY2l0eT0iMC43NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(35,35,35,0.75) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(35,35,35,0.75)));
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(35,35,35,0.75) 100%);
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(35,35,35,0.75) 100%);
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(35,35,35,0.75) 100%);
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(35,35,35,0.75) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf232323',GradientType=0 );}
.lightshadow {
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjE2Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjA1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  rgba(255,255,255,0.16) 0%, rgba(255,255,255,0.05) 35%, rgba(255,255,255,0) 52%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.16)), color-stop(35%,rgba(255,255,255,0.05)), color-stop(52%,rgba(255,255,255,0)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.16) 0%,rgba(255,255,255,0.05) 35%,rgba(255,255,255,0) 52%);
background: -o-linear-gradient(top,  rgba(255,255,255,0.16) 0%,rgba(255,255,255,0.05) 35%,rgba(255,255,255,0) 52%);
background: -ms-linear-gradient(top,  rgba(255,255,255,0.16) 0%,rgba(255,255,255,0.05) 35%,rgba(255,255,255,0) 52%);
background: linear-gradient(to bottom,  rgba(255,255,255,0.16) 0%,rgba(255,255,255,0.05) 35%,rgba(255,255,255,0) 52%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29ffffff', endColorstr='#00ffffff',GradientType=0 );
border-top:1px solid #555;}
tr.row1 td, .backend li.row0, .comments li.row0 {background: #6E6E6E ;
background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
}
tr.row0 td, .backend li.row1, .comments li.row1 {	background: #3E3E3E;
background: -moz-linear-gradient(top,  rgba(255,255,255,0.1) 0%, rgba(229,229,229,0.04) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(100%,rgba(229,229,229,0.04)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(229,229,229,0.04) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(229,229,229,0.04) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(229,229,229,0.04) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,0.1) 0%,rgba(229,229,229,0.04) 100%);

}
/* Container DIV - automatically generated */
.simply-scroll-container {     position: relative;}
.simply-scroll-clip {     position: relative;    overflow: hidden;}
.simply-scroll-list { display:inline-block;    overflow: hidden;   margin: 0;   padding: 0;   list-style: none;}
.simply-scroll-list li {  padding: 0;  margin: 0; list-style: none;}
#right .simply-scroll-list li img { border-left: 1px solid #121212 !important; border-right: 1px solid #121212 !important;  display: block;  }
.simply-scroll {     width: 100%;    min-width:600px;    height: 100px;    margin-bottom: 1em;    margin:0 auto;}
.simply-scroll .simply-scroll-clip {   width: 100%;    height: 100px;}
#right .simply-scroll .simply-scroll-list li { float: left;   height:100px;  width:auto;  width:150px;}
#right .simply-scroll img {max-width:150px;min-width:100%;min-height:100px;}
.simply-scroll-btn {position: absolute;	background-repeat:no-repeat;width: 28px;height:28px;z-index:3;cursor: pointer;border-radius:10px;}
.simply-scroll-btn-left {left: 6px;	bottom: 6px;	background-image: url('/plugins/system/jcemediabox/themes/squeeze/img/prev.png');	}
.simply-scroll-btn-left.disabled {	opacity:0.5;	}
.simply-scroll-btn-left:hover, .simply-scroll-btn-left:focus {	box-shadow:2px 2px 8px rgba(255,255,255,0.3);	}
.simply-scroll-btn-right {	right: 6px;	bottom: 6px;	background-image: url('/plugins/system/jcemediabox/themes/squeeze/img/next.png');	}
.simply-scroll-btn-right.disabled {	opacity:0.5;	}
.simply-scroll-btn-right:hover, .simply-scroll-btn-right:focus {	box-shadow:2px 2px 8px rgba(255,255,255,0.3);	}

