html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,font,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,center,dl,dt,dd,ul,li,fieldset,form,label,legend,table,caption,tfoot,thead{background: transparent;border: 0;font-style: inherit;font-weight: inherit;margin: 0;padding: 0;outline: 0;vertical-align: baseline;} 
html {height: 100%;overflow-y: scroll;} 
body { line-height: 1.4; color: #555;  background:#363636;  font-family: Tahoma, Verdana, Segoe, sans-serif;font-size: 76%; }
table {border-collapse: collapse;border-spacing: 0; width: 100%;}
td { padding-left:1em; }
a, a:link {color:#F3A626;}
a:visited {color:#F3A626;text-decoration: none;}
a:hover,a:focus {color:#F79426;text-decoration: none;}
a:focus,:focus {outline: none; border:none;}
a:hover,a:active {outline: none;}
a:hover { text-decoration: underline; color: #F3A626; background:none;}
a, a:active,a:visited {color:#F3A626; text-decoration: none;}
a:hover {color:#F79426;} 
h1, h2, h3, h4, h5, h6 { font-family: Tahoma, Verdana, Segoe, sans-serif;  vertical-align:center; }
h1 {font-size: 1.6em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.4em;}
h4 {font-size: 1.2em;}
h5 {font-size: 1.1em;}
h6 {font-size: 1em;}
h1, h2, h3 {font-weight: 600;}
ul,ol li,ul ol li, ul li {list-style-type: none;list-style-position:inside; color:white;}
ol.numbered li {list-style-type:decimal;list-style-position:outside;}
table thead tr th {height:25px; color:white; background: #252525 ; background:rgba(0,0,0,0.4);border-bottom:1px solid #222;}
tr.row1:hover td, tr.row0:hover td, li.row0:hover, li.row1:hover{background: #1b1b1b;background: rgba(0,0,0,0.4);border-radius:2px; }
tr.row0, tr.row1 {border-bottom: 1px solid #1E1E1E;}
#left img, #right img {border-radius:2px;border:1px solid #777!important;}
.moduletable ul li:before { /*content: "\00BB \0020";*/}
.img-intro-right { float:right;}
.tall {line-height:2;}
hr { visibility: hidden; margin-top:20px;}
p, pre, dt, li, hr, legend, input, button, textarea, select, address, table {margin-top: 0.2em; }
input, button, textarea, select, optgroup, option { font-size: 1em;	line-height: 1.4 !important; background:#fff; color:#252525; padding:4px; border-radius:4px; border:1px solid #ccc; }
button,input    {line-height:100%;padding-top: 5px;border-radius:4px;-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);}
sup {vertical-align: +20%;}
.darker {background:rgba(0,0,0,0.3); border-radius:4px;}
.background, .ui-dialog {background:#000 url(../images/jkw_back.png);}
#main {position: absolute;width: 100%;  } 
.article-info { color:#777;}
.logo { position:absolute; color:#fff; }
blockquote {  border:3px solid #ccc; margin:5px; padding:5px; font-size:18px; font-family: Tahoma, Verdana, Segoe, sans-serif; font-style:italic}
strong {color:#fff;}
small {color:#999;}
.left {float:left;}
.right {float:right;}
.center {float:left;display:block;margin:0 auto;}
.clr {clear: both;}
.text-center {text-align:center;}
.text-left {text-align:left;}
.text-right {text-align:right;}
.spinner {background:rgba(255,255,255,0.9); padding:2px; border-radius:2px; }
.shadowed_title  {   margin-right:2%;  background-image: none;    color: #dedede;    font-family: Tahoma, Verdana, Segoe, sans-serif;    font-weight: 900; letter-spacing: 3px;    text-align: right;    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.602);}
.ui-helper-hidden-accessible{clip:rect(1px,1px,1px,1px);position:absolute!important;}
.ui-helper-reset{border:0;font-size:100%;line-height:1.3;list-style:none;margin:0;outline:0;padding:0;text-decoration:none;}
.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;}
.ui-helper-clearfix:after{clear:both;}
.ui-helper-clearfix{zoom:1;}
.ui-helper-zfix{filter:Alpha(Opacity=0);height:100%;left:0;opacity:0;position:absolute;top:0;width:100%;}
.ui-state-disabled{cursor:default!important;}
.ui-icon{display:block;height:16px;overflow:hidden;text-indent:-99999px;width:16px;}
.ui-widget-overlay{background:#666;background: rgba(33,33,33,0.9) ;height:100%;left:0;opacity:.70;position:absolute;top:0;width:100%;}
.ui-widget-header{border-bottom:1px solid #F79426;color:#777;font-weight:700; }
.ui-tabs .ui-widget-header {border-radius:0;}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{ font-weight:700;border:1px solid #777; background:rgba(255,255,255,0.3);}
.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{font-weight:700;border:1px solid #999;background:#F79426; background: rgba(0,0,0, 0.306);color:#fff;-moz-transition: color 0.3s ease 0s, background 0.3s ease 0s; -webkit-transition: 0.3s ease 0s; -o-transition: 0.3s ease 0s;}
.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{background:#F79426;background: rgba(247, 148, 38, 0.804);border:1px solid #F79426;color:#fff;font-weight:700;}
.ui-widget :active{outline:none;}
.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #e5e5e5;color:#363636;}
.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#363636;}
.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #cd0a0a;color:#fff;}
.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:700;}
.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{filter:Alpha(Opacity=70);font-weight:400;opacity:.7;}
.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{background-image:none;filter:Alpha(Opacity=35);opacity:.35;}
.ui-widget-content .ui-icon{background-image:url(../images/ui-icons_222222_256x240.png);}
.ui-widget-header .ui-icon{background-image:url(../images/ui-icons_ffffff_256x240.png);}
.ui-state-highlight .ui-icon{background-image:url(../images/ui-icons_228ef1_256x240.png);}
.ui-state-error .ui-icon,.ui-state-error-text .ui-icon,.ui-icon{background-image:url(../images/ui-icons_ffd27a_256x240.png);}
.ui-icon-carat-1-n{background-position:0 0;}
.ui-icon-carat-1-ne{background-position:-16px 0;}
.ui-icon-carat-1-e{background-position:-32px 0;}
.ui-icon-carat-1-se{background-position:-48px 0;}
.ui-icon-carat-1-s{background-position:-64px 0;}
.ui-icon-carat-1-sw{background-position:-80px 0;}
.ui-icon-carat-1-w{background-position:-96px 0;}
.ui-icon-carat-1-nw{background-position:-112px 0;}
.ui-icon-carat-2-n-s{background-position:-128px 0;}
.ui-icon-carat-2-e-w{background-position:-144px 0;}
.ui-icon-triangle-1-n{background-position:0 -16px;}
.ui-icon-triangle-1-ne{background-position:-16px -16px;}
.ui-icon-triangle-1-e{background-position:-32px -16px;}
.ui-icon-triangle-1-se{background-position:-48px -16px;}
.ui-icon-triangle-1-s{background-position:-64px -16px;}
.ui-icon-triangle-1-sw{background-position:-80px -16px;}
.ui-icon-triangle-1-w{background-position:-96px -16px;}
.ui-icon-triangle-1-nw{background-position:-112px -16px;}
.ui-icon-triangle-2-n-s{background-position:-128px -16px;}
.ui-icon-triangle-2-e-w{background-position:-144px -16px;}
.ui-icon-arrow-1-n{background-position:0 -32px;}
.ui-icon-arrow-1-ne{background-position:-16px -32px;}
.ui-icon-arrow-1-e{background-position:-32px -32px;}
.ui-icon-arrow-1-se{background-position:-48px -32px;}
.ui-icon-arrow-1-s{background-position:-64px -32px;}
.ui-icon-arrow-1-sw{background-position:-80px -32px;}
.ui-icon-arrow-1-w{background-position:-96px -32px;}
.ui-icon-arrow-1-nw{background-position:-112px -32px;}
.ui-icon-arrow-2-n-s{background-position:-128px -32px;}
.ui-icon-arrow-2-ne-sw{background-position:-144px -32px;}
.ui-icon-arrow-2-e-w{background-position:-160px -32px;}
.ui-icon-arrow-2-se-nw{background-position:-176px -32px;}
.ui-icon-arrowstop-1-n{background-position:-192px -32px;}
.ui-icon-arrowstop-1-e{background-position:-208px -32px;}
.ui-icon-arrowstop-1-s{background-position:-224px -32px;}
.ui-icon-arrowstop-1-w{background-position:-240px -32px;}
.ui-icon-arrowthick-1-n{background-position:0 -48px;}
.ui-icon-arrowthick-1-ne{background-position:-16px -48px;}
.ui-icon-arrowthick-1-e{background-position:-32px -48px;}
.ui-icon-arrowthick-1-se{background-position:-48px -48px;}
.ui-icon-arrowthick-1-s{background-position:-64px -48px;}
.ui-icon-arrowthick-1-sw{background-position:-80px -48px;}
.ui-icon-arrowthick-1-w{background-position:-96px -48px;}
.ui-icon-arrowthick-1-nw{background-position:-112px -48px;}
.ui-icon-arrowthick-2-n-s{background-position:-128px -48px;}
.ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px;}
.ui-icon-arrowthick-2-e-w{background-position:-160px -48px;}
.ui-icon-arrowthick-2-se-nw{background-position:-176px -48px;}
.ui-icon-arrowthickstop-1-n{background-position:-192px -48px;}
.ui-icon-arrowthickstop-1-e{background-position:-208px -48px;}
.ui-icon-arrowthickstop-1-s{background-position:-224px -48px;}
.ui-icon-arrowthickstop-1-w{background-position:-240px -48px;}
.ui-icon-arrowreturnthick-1-w{background-position:0 -64px;}
.ui-icon-arrowreturnthick-1-n{background-position:-16px -64px;}
.ui-icon-arrowreturnthick-1-e{background-position:-32px -64px;}
.ui-icon-arrowreturnthick-1-s{background-position:-48px -64px;}
.ui-icon-arrowreturn-1-w{background-position:-64px -64px;}
.ui-icon-arrowreturn-1-n{background-position:-80px -64px;}
.ui-icon-arrowreturn-1-e{background-position:-96px -64px;}
.ui-icon-arrowreturn-1-s{background-position:-112px -64px;}
.ui-icon-arrowrefresh-1-w{background-position:-128px -64px;}
.ui-icon-arrowrefresh-1-n{background-position:-144px -64px;}
.ui-icon-arrowrefresh-1-e{background-position:-160px -64px;}
.ui-icon-arrowrefresh-1-s{background-position:-176px -64px;}
.ui-icon-arrow-4{background-position:0 -80px;}
.ui-icon-arrow-4-diag{background-position:-16px -80px;}
.ui-icon-extlink{background-position:-32px -80px;}
.ui-icon-newwin{background-position:-48px -80px;}
.ui-icon-refresh{background-position:-64px -80px;}
.ui-icon-shuffle{background-position:-80px -80px;}
.ui-icon-transfer-e-w{background-position:-96px -80px;}
.ui-icon-transferthick-e-w{background-position:-112px -80px;}
.ui-icon-folder-collapsed{background-position:0 -96px;}
.ui-icon-folder-open{background-position:-16px -96px;}
.ui-icon-document{background-position:-32px -96px;}
.ui-icon-document-b{background-position:-48px -96px;}
.ui-icon-note{background-position:-64px -96px;}
.ui-icon-mail-closed{background-position:-80px -96px;}
.ui-icon-mail-open{background-position:-96px -96px;}
.ui-icon-suitcase{background-position:-112px -96px;}
.ui-icon-comment{background-position:-128px -96px;}
.ui-icon-person{background-position:-144px -96px;}
.ui-icon-print{background-position:-160px -96px;}
.ui-icon-trash{background-position:-176px -96px;}
.ui-icon-locked{background-position:-192px -96px;}
.ui-icon-unlocked{background-position:-208px -96px;}
.ui-icon-bookmark{background-position:-224px -96px;}
.ui-icon-tag{background-position:-240px -96px;}
.ui-icon-home{background-position:0 -112px;}
.ui-icon-flag{background-position:-16px -112px;}
.ui-icon-calendar{background-position:-32px -112px;}
.ui-icon-cart{background-position:-48px -112px;}
.ui-icon-pencil{background-position:-64px -112px;}
.ui-icon-clock{background-position:-80px -112px;}
.ui-icon-disk{background-position:-96px -112px;}
.ui-icon-calculator{background-position:-112px -112px;}
.ui-icon-zoomin{background-position:-128px -112px;}
.ui-icon-zoomout{background-position:-144px -112px;}
.ui-icon-search{background-position:-160px -112px;}
.ui-icon-wrench{background-position:-176px -112px;}
.ui-icon-gear{background-position:-192px -112px;}
.ui-icon-heart{background-position:-208px -112px;}
.ui-icon-star{background-position:-224px -112px;}
.ui-icon-link{background-position:-240px -112px;}
.ui-icon-cancel{background-position:0 -128px;}
.ui-icon-plus{background-position:-16px -128px;}
.ui-icon-plusthick{background-position:-32px -128px;}
.ui-icon-minus{background-position:-48px -128px;}
.ui-icon-minusthick{background-position:-64px -128px;}
.ui-icon-close{background-position:-80px -128px;}
.ui-icon-closethick{background-position:-96px -128px;}
.ui-icon-key{background-position:-112px -128px;}
.ui-icon-lightbulb{background-position:-128px -128px;}
.ui-icon-scissors{background-position:-144px -128px;}
.ui-icon-clipboard{background-position:-160px -128px;}
.ui-icon-copy{background-position:-176px -128px;}
.ui-icon-contact{background-position:-192px -128px;}
.ui-icon-image{background-position:-208px -128px;}
.ui-icon-video{background-position:-224px -128px;}
.ui-icon-script{background-position:-240px -128px;}
.ui-icon-alert{background-position:0 -144px;}
.ui-icon-info{background-position:-16px -144px;}
.ui-icon-notice{background-position:-32px -144px;}
.ui-icon-help{background-position:-48px -144px;}
.ui-icon-check{background-position:-64px -144px;}
.ui-icon-bullet{background-position:-80px -144px;}
.ui-icon-radio-off{background-position:-96px -144px;}
.ui-icon-radio-on{background-position:-112px -144px;}
.ui-icon-pin-w{background-position:-128px -144px;}
.ui-icon-pin-s{background-position:-144px -144px;}
.ui-icon-play{background-position:0 -160px;}
.ui-icon-pause{background-position:-16px -160px;}
.ui-icon-seek-next{background-position:-32px -160px;}
.ui-icon-seek-prev{background-position:-48px -160px;}
.ui-icon-seek-end{background-position:-64px -160px;}
.ui-icon-stop{background-position:-96px -160px;}
.ui-icon-eject{background-position:-112px -160px;}
.ui-icon-volume-off{background-position:-128px -160px;}
.ui-icon-volume-on{background-position:-144px -160px;}
.ui-icon-power{background-position:0 -176px;}
.ui-icon-signal-diag{background-position:-16px -176px;}
.ui-icon-signal{background-position:-32px -176px;}
.ui-icon-battery-0{background-position:-48px -176px;}
.ui-icon-battery-1{background-position:-64px -176px;}
.ui-icon-battery-2{background-position:-80px -176px;}
.ui-icon-battery-3{background-position:-96px -176px;}
.ui-icon-circle-plus{background-position:0 -192px;}
.ui-icon-circle-minus{background-position:-16px -192px;}
.ui-icon-circle-close{background-position:-32px -192px;}
.ui-icon-circle-triangle-e{background-position:-48px -192px;}
.ui-icon-circle-triangle-s{background-position:-64px -192px;}
.ui-icon-circle-triangle-w{background-position:-80px -192px;}
.ui-icon-circle-triangle-n{background-position:-96px -192px;}
.ui-icon-circle-arrow-e{background-position:-112px -192px;}
.ui-icon-circle-arrow-s{background-position:-128px -192px;}
.ui-icon-circle-arrow-w{background-position:-144px -192px;}
.ui-icon-circle-arrow-n{background-position:-160px -192px;}
.ui-icon-circle-zoomin{background-position:-176px -192px;}
.ui-icon-circle-zoomout{background-position:-192px -192px;}
.ui-icon-circle-check{background-position:-208px -192px;}
.ui-icon-circlesmall-plus{background-position:0 -208px;}
.ui-icon-circlesmall-minus{background-position:-16px -208px;}
.ui-icon-circlesmall-close{background-position:-32px -208px;}
.ui-icon-squaresmall-plus{background-position:-48px -208px;}
.ui-icon-squaresmall-minus{background-position:-64px -208px;}
.ui-icon-squaresmall-close{background-position:-80px -208px;}
.ui-icon-grip-dotted-vertical{background-position:0 -224px;}
.ui-icon-grip-dotted-horizontal{background-position:-16px -224px;}
.ui-icon-grip-solid-vertical{background-position:-32px -224px;}
.ui-icon-grip-solid-horizontal{background-position:-48px -224px;}
.ui-icon-gripsmall-diagonal-se{background-position:-64px -224px;}
.ui-icon-grip-diagonal-se{background-position:-80px -224px;}
.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{-khtml-border-top-left-radius:4px;-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;border-top-left-radius:4px;}
.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr{-khtml-border-top-right-radius:4px;-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;border-top-right-radius:4px;}
.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl{-khtml-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;}
.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{-khtml-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px;}
.ui-widget-shadow{-khtml-border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;background:#000 url(../images/ui-bg_flat_10_000000_40x100.png) 50% 50% repeat-x;border-radius:5px;filter:Alpha(Opacity=20);margin:-5px 0 0 -5px;opacity:.20;padding:5px;}
.ui-resizable{position:relative;}
.ui-resizable-handle{display:block;font-size:.1px;position:absolute;}
.ui-resizable-n{cursor:n-resize;height:7px;left:0;top:-5px;width:100%;}
.ui-resizable-s{bottom:-5px;cursor:s-resize;height:7px;left:0;width:100%;}
.ui-resizable-e{cursor:e-resize;height:100%;right:-5px;top:0;width:7px;}
.ui-resizable-w{cursor:w-resize;height:100%;left:-5px;top:0;width:7px;}
.ui-resizable-se{bottom:1px;cursor:se-resize;height:12px;right:1px;width:12px;}
.ui-resizable-sw{bottom:-5px;cursor:sw-resize;height:9px;left:-5px;width:9px;}
.ui-resizable-nw{cursor:nw-resize;height:9px;left:-5px;top:-5px;width:9px;}
.ui-resizable-ne{cursor:ne-resize;height:9px;right:-5px;top:-5px;width:9px;}
.ui-selectable-helper{border:1px dotted #000;position:absolute;z-index:100;}
.ui-accordion{width:100%;}
.ui-accordion .ui-accordion-header{cursor:pointer;margin-top:1px;position:relative;zoom:1; background:none; border:none;}
.ui-accordion .ui-accordion-li-fix{display:inline;}
.ui-accordion .ui-accordion-header-active{border-bottom:0!important;}
.ui-accordion .ui-accordion-header a{display:block;font-size:1em;padding:.5em .5em .5em .7em;}
.ui-accordion-icons .ui-accordion-header a{padding-left:2.2em; background:none;}
.ui-accordion .ui-accordion-header .ui-icon{left:.5em;margin-top:-8px;position:absolute;top:50%;}
.ui-accordion .ui-accordion-content{border-top:0;display:none;margin-bottom:2px;margin-top:-2px;overflow:auto;padding:1em 2.2em;position:relative;top:1px;zoom:1;}
.ui-accordion .ui-accordion-content-active {display:block;}
.ui-autocomplete{border:1px solid #ccc;cursor:default;position:absolute;background:#fff;box-shadow:4px 4px 8px  rgba(0,0,0,0.3);}
.ui-autocomplete a {color:black; font-weight:normal;}
.ui-autocomplete .ui-state-active,.ui-autocomplete .ui-state-hover  {background:rgba(12,12,12,0.2); font-weight:600; color:#333;}
* html .ui-autocomplete{width:1px;}
.ui-menu{display:block;float:left;list-style:none;margin:0;padding:2px;}
.ui-menu .ui-menu{margin-top:-3px;}
.ui-menu .ui-menu-item{clear:left;float:left;margin:0;padding:0;width:100%;zoom:1;}
.ui-menu .ui-menu-item a{display:block;line-height:1.5;padding:.2em .4em;text-decoration:none;zoom:1;}
.ui-menu .ui-menu-item a.ui-state-hover,.ui-menu .ui-menu-item a.ui-state-active{font-weight:400;margin:-1px;}
.ui-button{cursor:pointer;display:inline-block;margin-right:.1em;overflow:visible;padding:0;position:relative;text-align:center;text-decoration:none!important;zoom:1;}
.ui-button-icon-only{width:2.2em;}
button.ui-button-icon-only{width:2.4em;}
.ui-button-icons-only{width:3.4em;}
button.ui-button-icons-only{width:3.7em;}
.ui-button .ui-button-text{display:block;line-height:1.4;}
.ui-button-icon-only .ui-button-text,.ui-button-icons-only .ui-button-text{padding:.4em;text-indent:-9999999px;}
.ui-button-text-icon-primary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 1em .4em 2.1em;}
.ui-button-text-icon-secondary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 2.1em .4em 1em;}
.ui-button-text-icons .ui-button-text{padding-left:2.1em;padding-right:2.1em;}
.ui-button-icon-only .ui-icon,.ui-button-text-icon-primary .ui-icon,.ui-button-text-icon-secondary .ui-icon,.ui-button-text-icons .ui-icon,.ui-button-icons-only .ui-icon{margin-top:-8px;position:absolute;top:50%;}
.ui-button-icon-only .ui-icon{left:50%;margin-left:-8px;}
.ui-button-text-icon-primary .ui-button-icon-primary,.ui-button-text-icons .ui-button-icon-primary,.ui-button-icons-only .ui-button-icon-primary{left:.5em;}
.ui-buttonset{margin-right:7px;}
.ui-buttonset .ui-button{margin-left:0;margin-right:-.3em;}
button.ui-button::-moz-focus-inner{border:0;padding:0;}
.ui-dialog{overflow:hidden;padding:.2em;position:absolute;width:300px;}
.ui-dialog .ui-dialog-titlebar{padding:.4em 1em;position:relative;}
.ui-dialog .ui-dialog-title{float:left;margin:.1em 16px .1em 0;}
.ui-dialog .ui-dialog-titlebar-close{height:18px;margin:-10px 0 0;padding:1px;position:absolute;right:.3em;top:50%;width:19px;}
.ui-dialog .ui-dialog-titlebar-close span{display:block;margin:1px;}
.ui-dialog .ui-dialog-titlebar-close:hover,.ui-dialog .ui-dialog-titlebar-close:focus{padding:0;}
.ui-dialog .ui-dialog-content{background:none;border:0;overflow:auto;padding:.5em 1em;position:relative;zoom:1;}
.ui-dialog .ui-dialog-buttonpane{background-image:none;border-width:1px 0 0;margin:.5em 0 0;padding:.3em 1em .5em .4em;text-align:left;}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:right;}
.ui-dialog .ui-dialog-buttonpane button{cursor:pointer;margin:.5em .4em .5em 0;}
.ui-dialog .ui-resizable-se{bottom:3px;height:14px;right:3px;width:14px;}
.ui-draggable .ui-dialog-titlebar{cursor:move;}
.ui-slider{position:relative;text-align:left;}
.ui-slider .ui-slider-handle{cursor:default;height:1.2em;position:absolute;width:1.2em;z-index:2;}
.ui-slider .ui-slider-range{background-position:0 0;border:0;display:block;font-size:.7em;position:absolute;z-index:1;}
.ui-slider-horizontal{height:.8em;}
.ui-slider-horizontal .ui-slider-handle{margin-left:-.6em;top:-.3em;}
.ui-slider-horizontal .ui-slider-range{height:100%;top:0;}
.ui-slider-horizontal .ui-slider-range-min{left:0;}
.ui-slider-horizontal .ui-slider-range-max{right:0;}
.ui-slider-vertical{height:100px;width:.8em;}
.ui-slider-vertical .ui-slider-handle{left:-.3em;margin-bottom:-.6em;margin-left:0;}
.ui-slider-vertical .ui-slider-range{left:0;width:100%;}
.ui-slider-vertical .ui-slider-range-min{bottom:0;}
.ui-slider-vertical .ui-slider-range-max{top:0;}
.ui-tabs{padding:.2em;position:relative;zoom:1;}
.ui-tabs .ui-tabs-nav{margin:0;padding:.2em .2em 0;}
.ui-tabs .ui-tabs-nav li{border-bottom:0!important;float:left;list-style:none;margin:0 .2em 1px 0;padding:0;position:relative;top:1px;white-space:nowrap;}
.ui-tabs .ui-tabs-nav li a{float:left;padding:.6em 1.2em;text-decoration:none;color:#e5e5e5;}
.ui-tabs .ui-tabs-nav li a:hover{color:#fff;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected{margin-bottom:0;padding-bottom:1px;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,.ui-tabs .ui-tabs-nav li.ui-state-disabled a,.ui-tabs .ui-tabs-nav li.ui-state-processing a{cursor:text; color:#fff;}
.ui-tabs .ui-tabs-nav li a,.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a{cursor:pointer;}
.ui-tabs .ui-tabs-panel{padding:0;border:1px solid #F79426;border-top:0;box-shadow:2px 2px 4px rgba(0,0,0,0.1);display:block;}
.ui-tabs .ui-tabs-hide{display:none!important;}
img.tt:hover {cursor: help;}
#aToolTip{display:none;position:absolute;z-index:50000;}
#aToolTip .aToolTipContent{margin:0;padding:0;position:relative;}
#aToolTipCloseBtn { display:block;height:18px;width:18px;background:url('http://www.portalgorski.pl/plugins/system/jcemediabox/themes/squeeze/img/close.png') no-repeat;text-indent:-9999px; outline:none;  position:absolute;  top:-20px;   right:-30px; margin:2px; padding:4px; }
.defaultTheme{-khtml-border-radius:8px 8px 8px 0;-moz-border-radius:8px 8px 8px 0;-moz-box-shadow:4px 4px 3px rgba(0,0,0,0.3);-webkit-border-radius:8px 8px 8px 0;-webkit-box-shadow:2px 2px 5px #111;background:#252525;background:rgba(25,25,25,0.8); border:1px solid #2e2e2e;border-radius:8px 8px 8px 0;box-shadow:4px 4px 3px  rgba(0,0,0,0.5);color:#efefef; margin:0;padding:6px 12px;max-width:400px;}
.ui-helper-hidden,.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle{display:none;}
.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a,.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text{color:#fff;}
.ui-state-default .ui-icon,.ui-state-hover .ui-icon,.ui-state-focus .ui-icon,.ui-state-active .ui-icon{background-image:url(../images/ui-icons_ef8c08_256x240.png);}
.ui-icon-seek-start,.ui-icon-seek-first{background-position:-80px -160px;}
.ui-button-text-only .ui-button-text,input.ui-button{padding:.4em 1em;}
.ui-button-text-icon-secondary .ui-button-icon-secondary,.ui-button-text-icons .ui-button-icon-secondary,.ui-button-icons-only .ui-button-icon-secondary,.ui-button-text-icons .ui-button-icon-secondary,.ui-button-icons-only .ui-button-icon-secondary{right:.5em;}
/* Selectmenu
-----------------------------------*/
.ui-selectmenu { display: block; position:relative; height:2em; text-decoration: none; overflow:hidden; }
.ui-selectmenu  .ui-state-hover {border:none;}
.ui-selectmenu-icon { position:absolute; right:6px; margin-top:-8px; top: 50%; }
.ui-selectmenu-menu { padding:0; margin:0; list-style:none; position:absolute; top: 0; visibility: hidden; overflow: auto;background:#555; background:rgba(55,55,55,0.96); color:white; }
.ui-selectmenu-open { visibility: visible; }
.ui-selectmenu-menu-popup { margin-top: -1px; }
.ui-selectmenu-menu-dropdown { }
.ui-selectmenu-menu li { padding:0; margin:0; display: block; border-top: 1px dotted transparent; border-bottom: 1px dotted transparent; border-right-width: 0 !important; border-left-width: 0 !important; font-weight: normal !important; }
.ui-selectmenu-menu li a,.ui-selectmenu-status {line-height: 1.4em; display:block; padding:.3em 1em; outline:none; text-decoration:none;color:#e6e6e6;border-bottom:1px solid #777;}
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status { padding-left: 20px; position: relative; margin-left: 5px;  }
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a:hover {border-radius:6px;border:none;}
a.ui-selectmenu-menu {background:#fefefe; background:rgba(255,255,255,0.9);}
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0; }
.ui-selectmenu-status { line-height: 1.4em; }
.ui-selectmenu-open li.ui-selectmenu-item-focus a {  color:orange;}
.ui-selectmenu-open li.ui-selectmenu-item-selected { }
.ui-selectmenu-menu li span,.ui-selectmenu-status span { display:block; margin-bottom: .2em; }
.ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: bold; }
.ui-selectmenu-menu li .ui-selectmenu-item-content {  }
.ui-selectmenu-menu li .ui-selectmenu-item-footer { opacity: .8; }
/*for optgroups*/
.ui-selectmenu-menu .ui-selectmenu-group { font-size: 1em; }
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label { line-height: 1.4em; display:block; padding:.6em .5em 0; font-weight: bold; color:#e6e6e6;background:#343434; background:rgba(22,22,22,0.9);}
.ui-selectmenu-menu .ui-selectmenu-group ul { margin: 0; padding: 0; }

#ui-datepicker-div {background:#333;box-shadow:2px 2px 6px rgba(0,0,0,0.5);border:1px solid #777;}
.ui-datepicker {    width: 17em;    padding: .2em .2em 0;    display: none;}
.ui-datepicker .ui-datepicker-header {    position: relative;    padding: .2em 0;}
.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next {    position: absolute;    top: 2px;    width: 1.8em;    height: 1.8em;}
.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover {    top: 1px;}
.ui-datepicker .ui-datepicker-prev {    left: 2px;}
.ui-datepicker .ui-datepicker-next {    right: 2px;}
.ui-datepicker .ui-datepicker-prev-hover {    left: 1px;}
.ui-datepicker .ui-datepicker-next-hover {    right: 1px;}
.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span {    display: block;    position: absolute;    left: 50%;    margin-left: -8px;top: 50%;margin-top: -8px;}
.ui-datepicker .ui-datepicker-title {margin: 0 2.3em;line-height: 1.8em;text-align: center;}
.ui-datepicker .ui-datepicker-title select {    font-size: 1em;    margin: 1px 0;}
.ui-datepicker select.ui-datepicker-month-year {    width: 100%;}
.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year {width: 49%;}
.ui-datepicker table {width: 100%;font-size: .9em;border-collapse: collapse;margin: 0 0 .4em;}
.ui-datepicker th {padding: .7em .3em;text-align: center;font-weight: bold;border: 0;}
.ui-datepicker td {border: 0;padding: 1px;}
.ui-datepicker td span,.ui-datepicker td a {display: block;padding: .2em;text-align: right;text-decoration: none;}
.ui-datepicker .ui-datepicker-buttonpane {background-image: none;margin: .7em 0 0 0;padding: 0 .2em;border-left: 0;border-right: 0;border-bottom: 0;}
.ui-datepicker .ui-datepicker-buttonpane button {float: right;margin: .5em .2em .4em;cursor: pointer;padding: .2em .6em .3em .6em;width: auto;overflow: visible;}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {float: left;}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {width: auto;}
.ui-datepicker-multi .ui-datepicker-group {float: left;}
.ui-datepicker-multi .ui-datepicker-group table {width: 95%;margin: 0 auto .4em;}
.ui-datepicker-multi-2 .ui-datepicker-group {width: 50%;}
.ui-datepicker-multi-3 .ui-datepicker-group {width: 33.3%;}
.ui-datepicker-multi-4 .ui-datepicker-group {width: 25%;}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {border-left-width: 0;}
.ui-datepicker-multi .ui-datepicker-buttonpane {clear: left;}
.ui-datepicker-row-break {clear: both;width: 100%;font-size: 0;}
/**
 * Facebook Slide FanBox
 * @license    GNU/GPL http://www.gnu.org/copyleft/gpl.html
 * @link       http://facebooklikebox.net
 */
#likebox_1 {-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;border:5px solid gray;background-color: #fff;position: fixed;z-index:10000;}
#likebox_1_1 {overflow: hidden;text-align: right;}
#likebox_1 img {position: absolute; top: 0px; cursor: pointer;border: 0;}
#likebox_1 iframe {border:0px;overflow: hidden; position: absolute;width:100%;height: 100%;}

/*jevents calendat*/
a.extcal_busylink,a.extcal_busylink:hover {background:#777; border-radius:2px;}
a.extcal_daylink, a.extcal_daylink:hover {color:white;}
.mod_events_link {border:none;cursor:pointer;}
 
 .downshadow {
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e0000000',GradientType=0 );
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzIzMjMiIHN0b3Atb3BhY2l0eT0iMC43NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(35,35,35,0.75) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(35,35,35,0.75)));
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(35,35,35,0.75) 100%);
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(35,35,35,0.75) 100%);
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(35,35,35,0.75) 100%);
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(35,35,35,0.75) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#bf232323',GradientType=0 );}
.lightshadow {
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjE2Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjM1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjA1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  rgba(255,255,255,0.16) 0%, rgba(255,255,255,0.05) 35%, rgba(255,255,255,0) 52%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.16)), color-stop(35%,rgba(255,255,255,0.05)), color-stop(52%,rgba(255,255,255,0)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.16) 0%,rgba(255,255,255,0.05) 35%,rgba(255,255,255,0) 52%);
background: -o-linear-gradient(top,  rgba(255,255,255,0.16) 0%,rgba(255,255,255,0.05) 35%,rgba(255,255,255,0) 52%);
background: -ms-linear-gradient(top,  rgba(255,255,255,0.16) 0%,rgba(255,255,255,0.05) 35%,rgba(255,255,255,0) 52%);
background: linear-gradient(to bottom,  rgba(255,255,255,0.16) 0%,rgba(255,255,255,0.05) 35%,rgba(255,255,255,0) 52%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29ffffff', endColorstr='#00ffffff',GradientType=0 );
border-top:1px solid #555;}
tr.row1 td, .backend li.row0, .comments li.row0 {background: #6E6E6E ;
background: -moz-linear-gradient(top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0)));
background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
}
tr.row0 td, .backend li.row1, .comments li.row1 {	background: #3E3E3E;
background: -moz-linear-gradient(top,  rgba(255,255,255,0.1) 0%, rgba(229,229,229,0.04) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(100%,rgba(229,229,229,0.04)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(229,229,229,0.04) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(229,229,229,0.04) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(229,229,229,0.04) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,0.1) 0%,rgba(229,229,229,0.04) 100%);

}
/* Container DIV - automatically generated */
.simply-scroll-container {     position: relative;}
.simply-scroll-clip {     position: relative;    overflow: hidden;}
.simply-scroll-list { display:inline-block;    overflow: hidden;   margin: 0;   padding: 0;   list-style: none;}
.simply-scroll-list li {  padding: 0;  margin: 0; list-style: none;}
#right .simply-scroll-list li img { border-left: 1px solid #121212 !important; border-right: 1px solid #121212 !important;  display: block;  }
.simply-scroll {     width: 100%;    min-width:600px;    height: 100px;    margin-bottom: 1em;    margin:0 auto;}
.simply-scroll .simply-scroll-clip {   width: 100%;    height: 100px;}
#right .simply-scroll .simply-scroll-list li { float: left;   height:100px;  width:auto;  width:150px;}
#right .simply-scroll img {max-width:150px;min-width:100%;min-height:100px;}
.simply-scroll-btn {position: absolute;	background-repeat:no-repeat;width: 28px;height:28px;z-index:3;cursor: pointer;border-radius:10px;}
.simply-scroll-btn-left {left: 6px;	bottom: 6px;	background-image: url('/plugins/system/jcemediabox/themes/squeeze/img/prev.png');	}
.simply-scroll-btn-left.disabled {	opacity:0.5;	}
.simply-scroll-btn-left:hover, .simply-scroll-btn-left:focus {	box-shadow:2px 2px 8px rgba(255,255,255,0.3);	}
.simply-scroll-btn-right {	right: 6px;	bottom: 6px;	background-image: url('/plugins/system/jcemediabox/themes/squeeze/img/next.png');	}
.simply-scroll-btn-right.disabled {	opacity:0.5;	}
.simply-scroll-btn-right:hover, .simply-scroll-btn-right:focus {	box-shadow:2px 2px 8px rgba(255,255,255,0.3);	}




/* Header */   
#header { position:relative; height:185px; width:980px;margin: 0px auto 0; background:black url('../images/header_jkw_980x185.png') no-repeat top left;}
#header .right {float:right; }
#header .left {float:left; color:white; overflow:hidden; line-height:36px; margin-left:100px; }
#header, #wrapper {box-shadow:         -5px 0px 27px rgba(0,0,0, 0.75); border-left:1px solid rgba(0,0,0,0.2); border-right:1px solid rgba(0,0,0,0.2);}
#header:before, #wrapper:before {box-shadow:         5px 0px 27px rgba(0,0,0, 0.75);}
/* Navigation */
#navr {height:34px; background:url(../images/mainmenu.png) 0 0 repeat-x;   } 
#nav { position:relative; z-index:100;float: left;width: 100%; box-shadow:2px 0px 4px rgba(0,0,0,0.6);border-bottom:1px solid #1b1b1b;}
#nav-left { float:left; max-width:95%; margin-top:-1px;}
#nav-right { float:right; width:20%;}
#nav ul, #header .menu {margin-left: 0px; padding:0; float:left;}
#nav ul li, #header .menu  li {list-style:none;float:left;height:100%;position:relative; padding-right:1px; margin:0;}
#header .menu  li a {display:block;padding:0 5px 0 9px; text-shadow: none;  line-height:34px; color:#fff; text-decoration:none;font-size:15px;font-weight:normal; background:rgba(0,0,0,0.3); border-bottom-left-radius: 5px;  border-bottom-right-radius:5px; }
#header .menu  li a:hover {background:#F3A725;}
#nav ul li a{ display:block;padding:0 14px; text-shadow: none; margin-bottom: -1px; line-height:34px; color:#fff; text-decoration:none;font-size:12px;font-weight:800; }
#nav ul li.active {}
#nav ul li a.accent   {background-color: #F79426;  border-radius:5px; border-bottom-left-radius:0px;border-bottom-right-radius:0px;}
#nav ul li a.accent:hover , #nav ul li.active a, #nav ul li a:hover,#nav ul li:hover a {color:#fff; text-shadow: none; background:url(../images/mainmenu-h.png) 50% 50% repeat-x;  border-radius:5px; border-bottom-left-radius:0px;border-bottom-right-radius:0px;}
#nav ul li ul {position:absolute;width:180px;left:-999em;border-top:0; margin:0; padding:0; box-shadow:2px 2px 4px rgba(0,0,0,0.4);}
#nav ul li ul li:hover ul  {box-shadow:4px 4px 8px rgba(0,0,0,0.4); border:1px solid #1b1b1b;}
#nav ul li ul li:last-child  , #nav ul li ul li ul li:last-child  {border-bottom-left-radius:4px;border-bottom-right-radius:4px;}
#nav ul li:hover ul, #nav ul li.sfHover ul {left:0; z-index:99; border-top:1px solid orange;}
#nav ul li ul li {padding: 0;  width:180px; margin:0 auto; border:none; text-align: left;  line-height:32px;}
#nav ul li ul li:hover ul {left:180px; top:8px ; border:none;}
#nav ul> li> ul >li >ul> li:hover> ul {left:180px; top:8px ; border:none;padding: 0;  width:180px; margin:0 auto; border:none; text-align: left;  line-height:32px;}
#nav ul li:hover ul li {}
#nav ul li:hover ul li a {text-shadow:none; border-radius:0; }
#nav ul li:hover ul li { background:#555; }
#nav ul li:hover ul li a, #nav ul li ul li a, #nav ul li.active ul li a{margin:0; padding:0 0 0 10px;  background:#555; border-bottom:1px solid #3a3a3a;color:#d1d1d1; font-size:12px;font-weight:normal;text-shadow:none; -moz-border-radius: 0px; border-radius: 0px;}
#nav ul li ul li a:hover, #nav ul li ul li.active a, #nav ul li.active ul li a:hover, #nav ul li.active ul li.active a:hover,
#nav ul li ul li:hover a {text-align: left; padding:0px 0 0 10px;  background:#343434;border-bottom:1px solid #3a3a3a; color:#fff; font-size:12px;text-shadow:none;}
#nav ul li ul li ul li a:hover, #nav ul li ul li ul li a:active,#nav ul li ul li ul li:hover  a  {background:#1b1b1b;}
#nav ul li ul li ul li ul li a:hover, #nav ul li ul li ul li ul li a:active{background:#0d0d0d;}
#nav ul li ul ul, #nav ul li:hover ul ul, #nav ul li:hover ul ul ul, #nav ul li:hover ul ul ul ul, #nav ul li.sfHover ul ul, #nav ul li.sfHover ul ul ul, #nav ul li.sfHover ul ul ul ul {left:-999em;}
#nav ul li ul li ul li{padding:0;width:180px; margin:0 auto;  text-align: left;}
#nav ul li.parent strong , #nav ul li ul li.parent strong{background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAUCAYAAAC07qxWAAAAAXNSR0IArs4c6QAAAAZiS0dEAAAAAAAA+UO7fwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wHBQchLw7XZOkAAAAdaVRYdENvbW1lbnQAAAAAAENyZWF0ZWQgd2l0aCBHSU1QZC5lBwAAAEhJREFUKM+9kDEOACAMAj0+bvryOrkYrbjI2gsFWntVZvbqLheW6yw3htzMRxCIK7hCW3AHPe1oC9cN5zUQ3HLOclSl/i3wWQOFHyl/oFj08QAAAABJRU5ErkJggg==);width:10px; height:10px; overflow:hidden;float:right;  display:inline-block;}
#nav ul li.parent strong {background-position:0px -10px;  margin:-10px 1px 2px; }
#nav ul li.parent ul li.parent strong {background-position:0 0;margin-top:-25px;}
#nav .tinynav, #nav .tinynav_label { display: none }

#header .master-menu {margin-bottom:0px;max-height:35px;font-family: Tahoma, Verdana, Segoe, sans-serif;  }
#header .master-menu .nav > li > a {padding: 2px 12px;color:#010101;text-shadow:0;font-weight: 400;background:none;font-size:14px}
#header .master-menu .nav > li > a:hover, #header .master-menu  .nav> li > a:active,   #header .master-menu  .nav > li > a[href="http://www.portalgorski.pl/"]{color:#fefefe;}
#header .master-menu .menu {float:right;}
#header .ui-state-hover.search {border:0px;}
#left  {color:white;float:left;width:27%; padding:5px;}
#left ul.std li:nth-child(2n) , ul.std li:nth-child(2n) ,table.std  tr:nth-child(2n+1) > td {background:rgba(211,211,211,211,0.24);}
#left ul.std li:nth-child(2n+1), ul.std li:nth-child(2n+1) ,  table.std  tr:nth-child(2n) > td{background:rgba(255,255,255,0.1);}
#left ul > li, .moduletable ul.std > li, table.std tr {border-bottom: 1px dotted rgba(255, 255, 255, 0.400);padding-bottom:2px; overflow: hidden; border-radius:4px;margin:0 auto;}
#left ul li:before, .items-more ol li:before {content: "▸"; padding-right:6px;float:left; vertical-align:middle; margin-left:2px;}
#left ul.std > li:before {content:"";}
#left ul > li:last-child, .moduletable ul.std > li:last-child , table.std > tr > td:last-child {border:0px;}
#left ul > li:hover,.moduletable ul.std > li:hover, table.std tr:hover td { background:rgba(0,0,0,0.2);}
#left .moduletable > h3, .center-text {text-align:center; }
#left .moduletable a:hover, #left .moduletable a:visited:hover {text-decoration:underline;} 
#left .moduletable, #left .moduletable-x {margin-bottom:15px;overflow: hidden;}
#left .mod-articles-category-introtext {font-size : 11px;} 
#loginContainer {font-size : 12px; padding:5px}  
#left .img-intro-left {margin-right:5px; float:left;margin-top: 2px;}
#left p {padding:4px;} 
#right {float:right;width:71% ;color: #dfdfdf;margin-right:1px;}
#right >* {margin:5px 5px;}
#right span[class*="category-name"],.blog .article-info .published {font-size:1em;line-height:1.62; }
#right span[class*="category-name"] a {color:#aa7823}
#right span[class*="category-name"] a:hover {color: #F79426;}
#right .readable {font-size:1em;line-height:1.62; font-family: Tahoma, Verdana, Segoe, sans-serif;  vertical-align:center; }
.bannergroup {margin:0px auto;}
#right img {max-width:100%;}
#right .relateditems .image-wrapper {max-width:100px;overflow:hidden;min-width:100px;max-height:66px; }
#right .relateditems .image-wrapper img {height:auto;width:100px;}
#right .relateditems a.category {float:none;}
.moduletable {margin:10px auto; box-shadow:2px 2px 4px rgba(0,0,0,0.2); border:1px solid #b3b3b3; border:1px solid rgba(255,255,255,0.298);  border-radius:4px; }
.moduletable >  h3, .ui-dialog-titlebar, table.std thead {border-radius:2px;border-bottom: 1px solid #333;font-size:13px;color: white;font-weight: 700;box-shadow: 0px 1px 3px rgba(33, 33, 33, 0.706);
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.302);line-height: 25px;width:100%;text-indent: 10px;background: rgba(255, 255, 255, 0.298)}
.moduletable ul.std > li > * {margin:2px;}
.moduletable ul.std {list-style:none;}
.moduletable  ul.std > li .button-inverse { padding:5px;margin: 0px; padding: 5px;line-height:4;height:100%; text-decoration:none; border-radius:0;}
#left .moduletable  ul.std > li {position:relative;padding-right:10px;}
#left .moduletable  ul.std > li .button-inverse  {position: absolute;right: 0px;top: 0px;}
.moduletable  ul.std > li p {margin:3px; font-size:11px;}
.moduletable-x img {border:0px;max-width:100%;overflow:hidden;max-height: 100%;}
.comments_avatar {max-height:100px;float:left;}
.comments * h3 {display:inline;}
.moduletable >  h3 + * {background: url("../images/jkw_art_back.png") 50% 0% repeat-x transparent; margin: 0px;margin:0px;}
#left .moduletable >  h3 + * {background:rgba(0,0,0,0.3);}
.jinc_mod_frm_subscription,.padding10 {padding:10px;}
.banneritem {margin:0 auto;}
/*FORMs*/
#right form dl {display:table;} 
#right form dl > span{display:table-row;}
#right form dd,form dt{display:table-cell;}
#right form#contact-form dd,form#contact-form dt {display:block;}
#right form#contact-form input[type="text"],#right form#contact-form textarea {width:70%;}

#right form dt{ width:150px;}
#right fieldset {border:1px solid #333;margin:10px; border-radius:3px;padding:10px;}
#right fieldset legend {float:left;clear:both;display:inline-block;width:80%; color: white;font-size: 13px;font-weight: 700;line-height: 25px;text-indent: 10px;text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.398);width: 100%;}
#right fieldset.ok {background:url('/media/com_climbinggym/additional/checkbox.png') no-repeat 100% 100%;}
#right fieldset.active {border:1px solid #F3A725; background:rgba(0,0,0,0.3);}
.dane_kompletne {display:none;padding-right:15px;color:#bbb;}
#right fieldset.ok .dane_kompletne {display:block;float:right;}
#right fieldset.ok .copy_address {display:none;}
/* Content */
#main { margin: 0 auto ; position: relative;} 
#main-content { clear:both;position:relative; min-height:100%;width: 100%;color: #555; min-height:500px; background: url("../images/jkw_center2.png") repeat-y transparent;border: 0px solid rgba(244, 244, 244, 0.400);box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.298);float:right;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAxMDEwMSIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjklIiBzdG9wLWNvbG9yPSIjNTY1NjU2IiBzdG9wLW9wYWNpdHk9IjAuMTkiLz4KICAgIDxzdG9wIG9mZnNldD0iMzUlIiBzdG9wLWNvbG9yPSIjOTU5NTk1IiBzdG9wLW9wYWNpdHk9IjAuMjkiLz4KICAgIDxzdG9wIG9mZnNldD0iNDklIiBzdG9wLWNvbG9yPSIjODQ4NDg0IiBzdG9wLW9wYWNpdHk9IjAuMzUiLz4KICAgIDxzdG9wIG9mZnNldD0iNjklIiBzdG9wLWNvbG9yPSIjNmI2YjZiIiBzdG9wLW9wYWNpdHk9IjAuMzEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTElIiBzdG9wLWNvbG9yPSIjMzgzODM4IiBzdG9wLW9wYWNpdHk9IjAuMjciLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFiMWIxYiIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4P
SIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left, hsla(0,0%,0%,0.15) 0%, hsla(0,0%,34%,0.19) 9%, hsla(0,0%,58%,0.29) 35%, hsla(0,0%,52%,0.35) 49%, hsla(0,0%,42%,0.31) 69%, hsla(0,0%,22%,0.27) 91%, hsla(0,0%,11%,0.25) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,0%,0.15)), color-stop(9%,hsla(0,0%,34%,0.19)), color-stop(35%,hsla(0,0%,58%,0.29)), color-stop(49%,hsla(0,0%,52%,0.35)), color-stop(69%,hsla(0,0%,42%,0.31)), color-stop(91%,hsla(0,0%,22%,0.27)), color-stop(100%,hsla(0,0%,11%,0.25))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, hsla(0,0%,0%,0.15) 0%,hsla(0,0%,34%,0.19) 9%,hsla(0,0%,58%,0.29) 35%,hsla(0,0%,52%,0.35) 49%,hsla(0,0%,42%,0.31) 69%,hsla(0,0%,22%,0.27) 91%,hsla(0,0%,11%,0.25) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, hsla(0,0%,0%,0.15) 0%,hsla(0,0%,34%,0.19) 9%,hsla(0,0%,58%,0.29) 35%,hsla(0,0%,52%,0.35) 49%,hsla(0,0%,42%,0.31) 69%,hsla(0,0%,22%,0.27) 91%,hsla(0,0%,11%,0.25) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, hsla(0,0%,0%,0.15) 0%,hsla(0,0%,34%,0.19) 9%,hsla(0,0%,58%,0.29) 35%,hsla(0,0%,52%,0.35) 49%,hsla(0,0%,42%,0.31) 69%,hsla(0,0%,22%,0.27) 91%,hsla(0,0%,11%,0.25) 100%); /* IE10+ */
	background: linear-gradient(to right, hsla(0,0%,0%,0.15) 0%,hsla(0,0%,34%,0.19) 9%,hsla(0,0%,58%,0.29) 35%,hsla(0,0%,52%,0.35) 49%,hsla(0,0%,42%,0.31) 69%,hsla(0,0%,22%,0.27) 91%,hsla(0,0%,11%,0.25) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26010101', endColorstr='#401b1b1b',GradientType=1 ); /* IE6-8 */}
.shadow {background:url(../images/shadow.png) repeat-y 50% transparent; margin-top: 5px; margin: 0 auto; width: 995px; margin-top:35px;}
.shadowtop {background-image: url(../images/shadowtop.png);height: 7px;margin: 30px auto -30px;width: 995px;}
.slideshadow {background: url("../images/slideshadow.png") no-repeat scroll 0 0 transparent;height: 8px; margin: 4px auto; width: 490px;}
.by {font-size: 9px;margin: -4px auto 0;padding: 0;text-align: center;width: 290px; color: #5c5957;}
.by a{color: #5c5957; text-decoration:none;}
.tt {cursor:help;}
table.std tr th img {background:#fff;background:rgba(255,255,255,0.8); padding:3px ;border-radius:3px;margin-left:10px;margin-bottom:-4px;}
table.nowrap th {white-space:nowrap;}
#maincol {position: relative;}
#wrapper {margin:0 auto; width:980px; padding:0;position: relative;border-radius: 5px;box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.298);}
#centercontent td {border: 1px solid #e1e1e1;vertical-align: middle;}
#centercontent th {border: 1px solid #e1e1e1;vertical-align: middle;}
#centercontent_md{width: 725px;float:left;overflow:hidden;padding-left: 3px; }
#centercontent_bg{width: 100%;float:left;padding:0px;overflow:hidden; border-top:1px dotted #575757;border-bottom: 1px solid #212121;}
/* Content styles */
#cpg_photos {height:100px;overflow:hidden;}
#cpg_photos td,#cpg_photos a {vertical-align:top;padding:0px;}
#cpg_photos table {position:relative;top:0px;left:0px;transition: 7s all;}
a.jcepopup {display:block;margin:0 auto; max-width:500px; width:100%;}
a.jcepopup + em {display:block;}
a.jcepopup:after {	content: ".";	display: block;	clear: both;	visibility: hidden;	line-height: 0;	height: 0;}
a.button {float:right; cursor:pointer;}
.frontpage {font-size:12px;line-height:1.2;} 
.frontpage .tabs {margin-bottom:15px;}
.frontpage .meta {font-size:0.86em;  padding:3px 10px; }
.frontpage .category a ,a.category{font-weight:600; margin-left:8px; float:right; color:#aa7823}
.frontpage .post-title {background:#121212 rgba(12,12,12,0.3);border-radius:4px;  margin-bottom: 3px;  }
.frontpage .date {   display:block;      display: block; overflow: hidden;float:left;text-align:center; font-weight : normal; color:#aeaeae;max-width:40%;}
.frontpage h2 {display:inline;text-align:left;float:left;  font-size:13px;min-width:400px;border:1px solid #212121; }
.frontpage h2 a.button {  float:left;  font-weight : 500;width:98%;    min-height:20px; margin:1px 1px; vertical-align:top; line-height:1.2;font-size:1.1em;font-family: Tahoma, Verdana, Segoe, sans-serif;}
.frontp#nav ul li ul li:hover a {text-align: left; padding:0px 0 0 10px;  background:#343434;border-bottom:1px solid #3a3a3a; color:#fff; font-size:12px;text-shadow:none;}
#nav ul li ul li ul li a:hover, #nav ul li ul li ul li a:active {background:#1b1b1b;}
.page .item p img, .blog .item p img, .blog a[target="_blank"] img, .blog .item>a img {display:none;}

#right .frontpage .img-intro-right img , .blog .img-intro-right img {border-radius:2px!important;margin:0px 8px!important;border:1px solid #eee!important; display:block; max-height:90px; max-width:100px; float:right!important;}
#right .frontpage article.item, .frontpage article.item p {overflow:hidden; font-size:1em; line-height:1.5;}
#right .frontpage.tabs .ui-tabs-panel {    min-height:400px;}
#right .frontpage p {clear:left;}

.frontpage .item {background:none; border-bottom: 1px dotted rgba(255, 255, 255, 0.400);padding:5px;padding-bottom:2px; margin:0;}
.item {background:rgba(0,0,0,0.2); border-radius:3px;padding:7px; margin-top:0px;}
.item i {color:#fefefe;font-style: italic;letter-spacing: 2px; }
 .item strong, .item b {font-weight:600;}
 /*FLAGS*/
 

 
.flags a {
    background: url("../images/flags2.png") no-repeat;
 
    display: inline-block;
    vertical-align: middle;
   //1wer height:25px;
    height: 20px;
    //1wer width: 50px;
    width: 50px;
    margin-right: 15px;
    margin-top: 5px;
 }

.flags a:hover {
   //1wer background-position: 0px -25px;
   background-position: 0px -20px;
}
 
 /* Login */
.ui-dialog {  color:#ededed;background-color:#333;box-shadow:5px 5px  25px 11px rgba(0,0,0,0.9);}
.ui-dialog .ui-dialog-titlebar {padding:2px 4px;border-radius:4px; width:96%;margin:0 auto;}
.ui-dialog .ui-dialog-content {padding:8px;}
.ui-widget-header{border-radius:0;}
.ui-tabs-panel {border:1px solid #F3A626;box-shadow: 0px 2px 4px rgba(0,0,0,0.3);}
#form-login > *, #form-login-show > *{padding:5px; margin-right:5px;}
.login-fieldset {background: rgba(0, 0, 0, 0.2); border: 1px solid rgba(255, 255, 255, 0.298);border-radius: 4px;color: #E5E5E5;font-size: 90%;font-weight: 700;margin: 10px auto;padding: 5px 8px;text-decoration: none;width: 90%;box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.298), inset 0px 0px 5px #000000;}
.login-fieldset:hover {background: rgba(0, 0, 0, 0.5);}
.login-fieldset , form.std {display:table;}
.login-fieldset p,form.std  p{display:table-row;margin:10px;}
.login-fieldset input,.login-fieldset  label, form.std label, form.std select, form.std textarea, form.std select,form.std input {display:table-cell;margin:1px 5px;vertical-align: middle;}
.login-menu-container {border-radius: 0px 6px 0px 6px;}^M
#nav .login-menu-container a.login-dialog {color:#fff;background:rgba(250,250,250,0.4);margin-right:-2px;border-left: 1px solid #000000;}
#nav .login-menu-container a.login-dialog:hover {color:#fff;border-radius:0px;}
form label.required .star{color: #C0402A;font-weight:600;}
ul.archive li { list-style:none; padding:0 0 0 10px;}
.archive .article-count {color:#999;}
.wyprawy hr {border:0px solid transparent;border-top:1px dotted #ccc;visibility:visible;height:0px;background:transparent;}
.cat-children { float:left; width:100%;}
.cat-children li {float:left; margin:10px;}
.category-desc {padding:1em; float:left; text-align:justify;}
.categories-item-image {margin-right:10px;}
table.category { line-height:20px; font-size:13px;}
.items-leading {position: relative; clear:both; margin-top:2px; }
.items-row {position: relative;clear:both;}
.item-page ul li, .item-page ol li { margin-left:1em;}
.item-page  { position:relative; } 
.item-page ,table.category, .blog .item p { font-size: 1.2em;line-height: 1.62; font-weight:normal;}
.item-page p, .frontpage .item p , .blog .item p {text-align: justify;margin-bottom:2em;text-shadow:0 0 0 #000, 0 0 1px transparent;}
.frontpage .item p {margin-bottom:0.7em;text-align: justify;text-shadow:0 0 0 #000, 0 0 1px transparent;}
.item-page img, .blog img {border-radius:2px;margin:5px 15px;border:1px solid #e5e5e5;}
h2.item-page-title {padding: 3px 0 3px 0px; margin-bottom: 1px; width:90%;}
h2.item-page-title a, .leading-0 a {font-size: 20px;font-weight:normal;}
h2.item-page-title a:hover, .leading-0 a:hover{ text-decoration: underline;}
.buttonheading { position:absolute; top:15px; right:0;}
.buttonheading .edit {float:right;margin:0 5px;}
.buttonheading .print { float:right; margin:0 5px;}
.buttonheading .email {float:right;margin:0 5px;}
.blog .img-intro-right {margin-top:4px;}
.blog .article-info {margin-bottom:0.62em;margin-top:1em;}
.blog .article-info .published, .item-page .iteminfo .create {display:block;float:right;color:#bbb;}
.iteminfo, .article-info {margin-top:1em;font-size: 12px;overflow:hidden;margin-bottom:0px; padding-top:0.2em;display:block;width: 100%; color:#777; line-height: 1.62; border-top:1px dotted rgba(255, 255, 255, 0.400);}
.iteminfo .sub-category { padding:0 0 0 0px}
.iteminfo .category , .iteminfo .sub-category {font-size:1.2em;}
.iteminfo .createdby {font-weight:bold; display:block}
.items-more {clear:both; padding:10px;} h3.items-more { font-size:14px; padding:0; margin:0;}
.items-more ol { margin:0 0 0 30px; padding:0}
th.list-title, th.list-author,th.list-hits,th.list-date  {  padding:2px; border-right:1px solid #1b1b1b; color:#fff;}
th.list-title a, th.list-author a,th.list-hits a,th.list-date a { color:#fff; font-weight:bold}
td.list-title, td.list-author, td.list-hits, td.list-date { border-bottom:1px dotted #ccc;}
td.list-title { width:50%;}
td.list-author { width:15%; text-align:center;}
td.list-hits { width:5%;text-align:center;}
td.list-date { width:15%;text-align:center;}
.cols-1 {width:100%; clear:both;}
.cols-2 .column-1{width:47%;float:left; }
.cols-2 .column-2{width:47%;float:right; }
.column-1, .column-2, .column-3, .column-4 { position:relative;margin:0 0 20px 0}
.readmore a ,.joomBlog-readmorelink a{clear:both;float:right;}
.readmore a, a.button ,.button-inverse, .joomBlog-readmorelink a, form.std input[type="submit"] , button[type="submit"].button, a.more-link{background:rgba(247,148,38,0.8); margin-right:10px; margin-bottom:5px; color:white; overflow:visible;  padding:3px; border-radius: 3px; -moz-transition: color 0.3s ease 0s, background 0.3s ease 0s; -webkit-transition: 0.3s ease 0s; -o-transition: 0.3s ease 0s;text-decoration:none;}
.readmore a:hover, a.button:hover, .joomBlog-readmorelink a:hover, form.std input[type="submit"]:hover, button[type="submit"].button:hover , a.more-link:hover{ background: #555; color:#F79426; text-decoration:none;cursor:pointer;}
.frontpage .button, .button-inverse {background: #333; color:#F3A626;font-weight:600; box-shadow:1px 1px 2px rgba(0,0,0,0.4);text-decoration:none;}
.frontpage .button:hover, .button-inverse:hover, #left .moduletable  ul.std li:hover .button-inverse {background:#F79426;background:rgba(247,148,38,0.8); color:white; }
.frontpage a.more-link {margin:0px;}
 form.std input[type="submit"] , button[type="submit"].button {padding:0.3em 0.5em;font-size:1.2em;}
ul.pagenav { display:block;} ul.pagenav li { list-style:none;}
.pagenav-prev { float:left; padding-top: 10px;}
.pagenav-next { float:right; padding-top: 10px;}
.pagination { clear:both; width:100%; text-align:center; margin:15px 0;width: 90%;}
.pagination .pages { text-align:center; margin: 0 auto;}
.pagination .limit {float:left;}
.pagination .counter {float:right;}
span.pagination { background:none;}
.pagination a, .cat-children li  { border-radius:4px; border:1px solid rgba(200,200,200,0.2);font-weight: bold; }
.pagination span, .pagination a, ul.pagenav li a, .cat-children li  {padding: 5px 8px; margin:4px 2px; color: #e5e5e5; font-weight: bold; font-size: 90%; text-decoration:none;}
.pagination a:hover, ul.pagenav li a:hover, .cat-children li:hover  {background:rgba(0,0,0,0.3);}
.breadcrumbs { padding:0 0 0 10px; color:#e5e5e5; line-height:25px;}
/* Search Module */
.search > *{ margin:0;}
.search {box-shadow:0px 6px 4px rgba(0,0,0,0.2);}
.searchbox {background: #ededed; background:rgba(255,255,255,0.76);color:#555; border-radius: 0 0 0px 3px; border: 0px;  width:170px; height:25px; padding:0 3px; position: absolute;
right: 5px;transition: all 1s;top:35px;}
.searchbox:active ,.searchbox:focus{width:250px;}
.search_button { border:none; text-indent:-9999em; cursor:pointer; border-radius:0 0 4px 0; z-index:900;position:absolute;top:35px;right:0;z-index:901;background:#121212;}
.search_button:hover {background:rgba(0,0,0,0.3);background:#333;}
.result-text {margin-left:20px;}
.search-results .highlight {background:rgba(0,0,0,0.2); color:#fefefe;padding:2px;font-weight:600;}
#footer { clear:both; margin:10px 0 0 0; padding:0; text-align:center; padding-top:10px;}
#footer small {margin:10px;}
.footer-pad { width:960px; margin:0 auto; padding: 0;}
.copy { margin:0; padding:0 0 0 10px;font-size:12px; float:left;color:#ccc}
.copy a {font-size:12px; color:#ccc}
/* System Messages */
#system-message    { margin: 0; padding: 0;}
#system-message dt { font-weight: bold; }
#system-message dd { margin: 0; font-weight: bold; text-indent: 30px; }
#system-message dd ul { color: #0055BB; margin: 0; list-style: none; padding: 10px; border-top: 3px solid #84A7DB; border-bottom: 3px solid #84A7DB;}
/* System std Messages */
#system-message dt.message { display: none; }
#system-message dd.message {  }
/* System Error Messages */
#system-message dt.error { display: none; }
#system-message dd.error ul { color: #c00; background-color: #E6C0C0; border-top: 3px solid #DE7A7B; border-bottom: 3px solid #DE7A7B;}
/* System Notice Messages */
#system-message dt.notice { display: none; }
#system-message dd.notice ul { color: #c00; background: #EFE7B8; border-top: 3px solid #F0DC7E; border-bottom: 3px solid #F0DC7E;}
/* Debug */
#system-debug     { color: #ccc; background-color: #fff; padding: 10px; margin: 10px; }
#system-debug div { font-size: 11px;}
#error  .error { color:#FF0000}
#error { width:600px; margin:100px auto 0 auto; padding:20px; background:#fff;-moz-border-radius:6px;border-radius:6px;}
.tg  a{color: #555;}
.tg {border-radius:0 0 5px 5px; clear: both; color: #555;font-size: 11px;width: 940px; margin: 0 auto;}
#slide {height: 152px; color:#c6c6c6; float: left; width: 958px; margin-top:5px; margin-bottom: 5px;-moz-border-radius: 5px; border-radius:5px;-moz-box-shadow: 0 0 5px #b9b9b9;-webkit-box-shadow: 0 0 5px#b9b9b9;box-shadow: 0 0 5px #b9b9b9;}
#bookmark {float: right;margin-top: 8px;}
.footer {   height:300px;   background:url('../images/jkw_scianki_footer.png')  no-repeat bottom center;}
.newsflash-horiz img {width:80px; max-height:80px; border-radius:4px; border:1px solid white;}
#left .noborder {border:0px solid #000!important;}
 #left .std h5, .newsflash-horiz h5 , #left h5.group-label{font-size:1.1em; line-height:1.62em;font-weight: 600;vertical-align: middle;}
 #left h5.group-label {text-align:center;font-variant:small-caps;font-size:1.15em;border-bottom:1px solid #555;padding-top:.44em 0;border-top:1px solid #333;}
 #left .category-module li {max-height:100%;}
 .mod-articles-category-date {display:block; float:left;min-height:3em;overflow:hidden;}
.newsflash-horiz {font-size:10px;}
img.clean {border:0px; padding:0px; margin:0px; background-image: none; background-color: transparent;}
.hilight {background:rgba(0,0,0,0.8); border-radius:4px; padding:2px;}
#right .banneritem img  {margin-left:4px;}
#right .banner {min-height:80px;margin-top:10px;margin-bottom:15px;}
#newsletter_form input[type="submit"] {margin-left:5px;}
#left .banneritem img, #left .moduletable-x img {padding: 0 1px ; background:#eee;}
#comments ul.table {display: table;width:100%; }
#comments ul.table  li { display: table-row; line-height:20px; }
#comments ul.table  li strong {vertical-align:middle;display: table-cell;padding-right:5px; width:200px;text-align:center;}
.error.message, dt.warning {display:none!important;}
#system-message dd ul  {	background: #000000;	background:rgba(0,0,0,0.5);	border-bottom: 1px solid #EECC00;	border-top: 1px solid #EECC00;	text-align: center;}
#left .moduletable .zagrozenie {background:#fefefe;overflow:hidden;}
#left .tabs li:before {content:"";}
#left .tabs li {border-radius:5px 5px 0px 0;}
.zagrozenie > * {float:left; color:black; text-align:center;padding-top:10px;}
.zagrozenie > img {max-height:50px;padding-top:0px;border:none;}
#submitForm {padding:10px; background: rgba(247, 148, 38, 0.804);border-radius: 3px;color: white;margin-bottom: 5px;margin-right: 10px;overflow: visible;transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;}
#submitForm:hover {background: #555555;color: #F79426;text-decoration: none;}
/*Joomblog*/
#joomBlog-head .desc {margin-bottom:20px;}
.topFeed {float:right;padding-left:25px;}
#joomBlog-content , .blogsblock,.postContent{ color:#DFDFDF;}
#joomBlog-content >p , .postContent p {text-align:justify;}
.topFeed a { background: url("http://www.portalgorski.pl/components/com_joomblog/templates/default/images/15-feed.png") 0px 50% no-repeat transparent;padding-left:20px; }

.joomBlog-entry-title {padding:5px 7px;overflow:hidden;}
.joomBlog-entry-title a.blog {float:left; clear:both;width:100%}
.postSummary-teaser,.postContent-text,.blog-row {      color: #dfdfdf;   background:rgba(0,0,0,0.2); overflow:hidden;}
.joomBlog-content {padding:8px 8px 0; border-top: 1px dotted rgba(255, 255, 255, 0.400); }
.joomBlog-bottom > * {float:left; border-radius:4px;clear:right;}
.joomBlog-bottom {background:rgba(0,0,0,0.2); clear:both;float:left; width:100%;display:table-row; padding:4px; border-radius:4px;}
#joomBlog-wrap #joomBlog-toolbar.jb-tabs li a {font-size:1px;}
#joomBlog-wrap #joomBlog-toolbar.jb-tabs {border-bottom:1px solid #F79426;overflow:visible !important;display:table;width:100%;margin:10px 0 0px;}
#joomBlog-wrap #joomBlog-toolbar.jb-tabs li {padding:15px 5px 10px;float:left;margin:0 1px;line-height:1em;background-image: none !important;}
#joomBlog-wrap #joomBlog-toolbar.jb-tabs li.blogActive {padding-top:10px;margin-top:6px;background:#FFF;border:1px solid #C8C8C8;border-bottom-color:#FFF;position:relative;bottom:-1px;
            border-radius:4px 4px 0 0; overflow: hidden; }
.joomBlog-authoricon,.joomBlog-dateposted,.cat-link{padding:0 10px;}
.jbBackToTop,.entry-next {float:right;}
.entry-prev {float:left;}
.entry-next:after {content:'» '}
.entry-prev:before {content:'« '}
/* inner round corner left */   
#joomBlog-wrap #joomBlog-toolbar.jb-tabs li.blogActive:before {content:'';position:absolute;left:-5px;bottom:-1px;width:4px;height:8px;  border:1px solid #F79426;  border-width:0 1px 1px 0;
    border-radius:0px 0px 8px 0;          -moz-box-shadow: 0px 4px 0px #FFF;            box-shadow: 0px 4px 0px #FFF;    clip:rect(4px auto 9px auto);    }
/* inner round corner right */
#joomBlog-wrap #joomBlog-toolbar.jb-tabs li.blogActive:after {content:'';position:absolute;right:-5px;bottom:-1px;width:4px;height:8px; border:1px solid #F79426; border-width:0 0 1px 1px;
            border-radius:0px 0px 0px 8px;  box-shadow: 0px 4px 0px rgba(0,0,0,0.4);    clip:rect(4px auto 9px auto);    }
#right #joomBlog-wrap #joomBlog-content  img{border: 1px solid #EEEEEE !important;border-radius: 2px;}
#joomBlog-wrap #joomBlog-toolbar.jb-tabs li a {text-decoration:none;font-size:0.8em;color:white;font-weight:700;}  
#joomBlog-wrap #joomBlog-toolbar.jb-tabs li a:hover,#joomBlog-wrap #joomBlog-toolbar.jb-tabs li.blogActive a {    color:#fff !important;}
#joomBlog-wrap #joomBlog-toolbar.jb-tabs li a:focus{    color:#fff !important;}
#joomBlog-wrap #joomBlog-toolbar.jb-tabs li.blogActive,#joomBlog-wrap #joomBlog-toolbar.jb-tabs li.blogActive:hover{ color:#fff;background: rgba(247, 148, 38, 0.804);border-bottom: 1px solid #F79426;border-left: 1px solid #F79426;border-right: 1px solid #F79426;
border-top: 1px solid #F79426;color: #FFFFFF;font-weight: 500;bottom: -1px;margin-top: 6px;overflow: hidden;padding-top: 6px;position: relative;}
#joomBlog-wrap #joomBlog-toolbar.jb-tabs li { border-radius:4px 4px 0 0;background: #777;border: 1px solid #777777;font-weight: 500;font-size:14px;margin-left:1px;margin-top: 6px;
overflow: hidden;padding-top: 6px;position: relative;border-bottom:0;border-left: 1px solid #999999;border-right: 1px solid #999999;border-top: 1px solid #999999;
color: #FFFFFF;font-weight: 500;transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;}
#joomBlog-wrap #joomBlog-toolbar.jb-tabs li:hover { border-radius:4px 4px 0 0;background: rgba(0, 0, 0, 0.306);}
#joomBlog-toolbar {margin-bottom:0px;}
#joomblogTabNav li {float:left;}
#joomblogTabNav {overflow:hidden;clear:both;}
.blog-sep,.joomBlog-category-bgk,.joomBlog-bottom .joomBlog-votes,.entry-random,.joomBlog-tagslinks,.jbBackToTop{display:none;}
.blog-row .avatar {float:left; margin:0 10px;}
.blog-row .avatar img {max-height:100px;}
.blog-row {border-bottom: 1px dotted rgba(255, 255, 255, 0.400); overflow:hidden;clear:both; padding:15px 8px;}
#joomBlog-wrap .postSummary {background:rgba(0,0,0,0.1);border:1px solid #323232; box-shadow:3px 4px 5px rgba(0,0,0,0.4); border-radius:5px; margin-bottom:10px; border-top:1px solid #555;border-left:1px solid #555;}
hr.postEntry-divider, span.article_separator {display:none;}
.baner-horizontal {display:none;}
.baner-horizontal.loaded {display:inline-block;max-width:161px;width:160px;float:right;margin-right: 5px;}
#right .baner-horizontal .banneritem img {margin:0px;}
#right .baner-horizontal .banneritem {margin-bottom:20px;}
 .slim.frontpage  {max-width:510px; width:519px;float:left;}
.frontpage h2 {max-width:100%; width: 100%;}
.item-page .darker .baner-horizontal.loaded + p {display:inline;}
.item-page .darker .baner-horizontal.loaded {margin-left:10px}
h1.shadowed_title.pushed {display: inline-block;position: absolute;right: 170px;}

/* < 720px */
@media screen and (max-width: 720px) {
	#header,#wrapper {max-width:720px;width:100%;}
	#left,#right {width:96%; margin:0 auto; float:left;}
	#left .moduletable, #left .moduletable-x {display:inline-block; width:270px;max-width:100%;float: left;margin: 1%;}
	#likebox_1 img{display:none;}
	#right img, #right .item-page img {max-width:99%}
	#right .item-page img{overflow:hidden; margin: 0 auto; max-height: 100%;}
	.cols-2 .column-1,.cols-2 .column-2 {width:99%; margin:0 auto;float:left;margin-bottom:1em;}
	.moduletable-x,.bannergroup {display:none;}
	.frontpage h2 {max-width:99%; width:96%; min-width:90%;}
	#startpage >.left, #startpage >.right {min-width:97%; margin:0 auto;}
	.moduletable.left, .moduletable.right, .moduletable.letter ,.results .column {min-width:97%; margin:0 auto;}
	.slim.frontpage {width:100%;max-width:100%;}
	#nav .tinynav { display: block }
	#nav .tinynav:before {content: "Menu : "; display:block;float:left;}
   	#nav ul.menu{ display: none }
   	#nav label {color:white; float:left;padding:5px;}
   	#nav .right {display:none;}
   	.baner-horizontal.loaded {display:none;}
   	#header .master-menu .menu  {width:100%;display:block;background:orange;float:none;height: 35px;}
   	#header {background:#333;}
   	#header .right {float:none;width:100%;}
   	#header .logo {top:35px;}
	h1.shadowed_title.pushed {display: inline-block;position: static;}


} 
/* 720px < 1024px */
@media screen and (max-width: 1024px)  and (min-width:721px){
	#header,#wrapper {max-width:1020px;width:100%;}
	#left {width:23%; max-width:270px;}
	#right {max-width:76%;min-width:74%;}
	#likebox_1 img{display:none;}
	.moduletable-x,.bannergroup {max-width:100%;}
	.slim.frontpage {width:100%;max-width:100%;}
	.baner-horizontal.loaded {display:none;}
	#header .master-menu .menu  {width:100%;display:block;background:orange;float:none;height: 35px;}
	#header .right {float:none;width:100%;}
	#header .logo {top:35px;}
	h1.shadowed_title.pushed {display: inline-block;position: static;} 
}

@media screen and (min-width:1200px)	{
	#header,#wrapper {max-width:1190px;width:100%;}
	#header {  background:black url('../images/header_jkw_1200x185_ENG.png') no-repeat top left;}
	#left {width:23%; max-width:320px;}
	#left,#right { margin:0 auto; }
	#right {min-width:905px;}
	#header {background-position: top right;}
	.slim.frontpage h2 {max-width:530px; width: 530px;}
	.slim.frontpage  {max-width:720px; width:719px;}
	.frontpage h2 {max-width:705px; width: 705px;}
	#left .banneritem img, #left .moduletable-x img { background: #ccc;border-radius: 3px;padding: 1px 3px;}
	#right .frontpage .img-intro-right img, .blog .img-intro-right img {max-height:100px; max-width:150px;} 
}

/* > 1200px */
